//list
.tx-efblog-list-entry {
	margin-bottom: rem(25);
	}

.tx-efblog-list-images {
	float: right;
	margin: rem(12) 0 rem(16) rem(16);
	width: rem(80);
	}

.tx-efblog-list-imagerow {
	margin-bottom: rem(6);
	}

.tx-efblog-list-body h2 {
	font-weight: normal;
	}

.tx-efblog-list-footer {
	clear: both;
	border-top: 1px solid $base-border-color;
	margin-top: $base-spacing / 3;
	padding-top: $base-spacing / 3;
	}

.tx-efblog-list-footer .more {
	float: left;
	}

.tx-efblog-list-footer .info {
	text-align: right;
	}