<f:layout name="default" />

This Template is responsible for creating a single view for a domain object

<f:section name="main">
<h1>Single View for Post</h1>

<f:flashMessages />

<table>
	<tr>
		<td><f:translate key="tx_tkblog_domain_model_post.title" /></td>
		<td>{post.title}</td>
	</tr>
</table>
<f:link.action action="edit" arguments="{post : post}">Edit</f:link.action>
<f:link.action action="delete" arguments="{post : post}">Delete</f:link.action>

<f:link.action action="index">Back to listing</f:link.action>
</f:section>