.tx-efblog-detail-comments {
	h3 {
		font-size: $base-font-size * 1.2;
		}
	}

.tx-efblog-comments-list {
	margin: $base-spacing 0;
	.maincomment {
		margin: 0px 0px 8px;
		padding: 5px;
		min-height: rem(60);
		@include clearfix;
		}
	.odd,
	.even {
		border-radius: $base-border-radius;
		border: 1px solid $base-border-color;
		padding: $base-spacing;
		background: #FFF;
		}
	.answer {
		margin-left: rem(60);
		}
	.author-comment .number {
		border: 2px solid #900;
		}
	.header {
		margin: $base-spacing * 0.5 0;
		@include clearfix;
		}
	.number {
		display: inline-block;
		border-radius: $base-border-radius;
		background: none repeat scroll 0% 0% #F88601;
		line-height: rem(50);
		@include size(rem(50));
		margin-right: rem(10);
		text-align: center;
		vertical-align: top;
		font-size: rem(28);
		font-weight: $font-weight-bold;
		color: #FFF;
		}
	.info, .info a {
		display: inline-block;
		.name {
			font-weight: $font-weight-bold;
			}
		.location {
			display: inline-block;
			}
		}

	.gravatar {
		float: right;
		vertical-align: top;
		width: rem(50);
		height: rem(50);
		img {
			border-radius: $base-border-radius;
			}
		}
	.comment {
		h2 {
			font-size: $base-font-size * 1.1;
			}
		}
	}

.tx-efblog-comment-form {
	border: $base-border;
	border-radius: $base-border-radius;
	padding: $base-spacing;
	background: #FFF;
	margin-top: $base-spacing;
	.form-row {
		&.full {
			@include clearfix;
			.label {
				float: right;
				width: 35%;
				}
			.field {
				width: 60%;
				}
			}
		&.half {
			display: inline-block;
			width: 49%;
			&.right {
				float: right;
				}
			.label {
				}
			.field {
				}
			}

		}
	.field-error {
		color: #d00;
		font-weight: $font-weight-bold;
		}
	}

div.mce-fullscreen {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10001 !important;
	}