//list
.tx-efblog-list-entry {
	margin-bottom: rem(25);
	}

.tx-efblog-list-images {
	float: right;
	margin: rem(12) 0 rem(16) rem(16);
	width: rem(80);
	}

.tx-efblog-list-imagerow {
	margin-bottom: rem(6);
	}

.tx-efblog-list-body h2 {
	font-weight: normal;
	}

.tx-efblog-list-footer {
	clear: both;
	border-top: 1px solid $base-border-color;
	margin-top: $base-spacing / 3;
	padding-top: $base-spacing / 3;
	.more {
		float: left;
		}
	.info {
		text-align: right;
		}
	}

//detail breadcrump
.tx-efblog-detail-breadCrumb {
	font-family: $base-font-family;
	font-size: $base-font-size * 0.95;
	margin-bottom: $base-spacing * 0.8;
	@include outer-container();
	width: 100%;
	.left {
		@include span-columns(5);
		min-height: 0.01em;
		}
	.center {
		@include span-columns(2);
		text-align: center;
		}
	.right {
		@include span-columns(5);
		text-align: right;
		}
	}

.tx-efblog-detail-body .detailpager {
	overflow: auto;
	border-radius: $base-border-radius;
	border: 1px solid $dark-gray;
	padding: $base-spacing * 0.2;
	background: #FFF;
	margin: $base-spacing * 0.5 0;
	ul.tabs {
		float: left;
		list-style: none;
		margin: 0px;
		padding: 0px;
		width: 100%;
		li {
			float: left;
			line-height: $base-line-height;
			padding-right: $base-spacing * 0.5;
			a {
				color: $base-font-color;
				&:hover {
					color: $hover-link-color;
					}
				}
			&.active a {
				color: $hover-link-color;
				}
			}
		}
	}

.tx-efblog-detail-social {
	}

.tx-efblog-detail-footer {
	@extend .tx-efblog-list-footer;
	}
