{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>
	<f:section name="content">
		<div class="tx-efblog-calendar-container" data-pid="{settings.currentPid}">
			<div class="datepicker"></div>
			<div class="calEntries">
				<div id="todayEntries">
					<p>Keine Termine für diesen Tag.</p>
				</div>

				<div id="moreEntries">
					<f:groupedFor each="{posts}" as="postsByYear" groupBy="yearOf{date}" groupKey="year">
						<f:groupedFor each="{postsByYear}" as="postsByMonth" groupBy="monthOf{date}" groupKey="month">
							<f:groupedFor each="{postsByMonth}" as="postsByDay" groupBy="dayOf{date}" groupKey="day">
								<f:for each="{postsByDay}" as="post" iteration="dayIterator">
									<f:if condition="{dayIterator.isFirst}">
										<f:then>
											<h2>{post.date -> f:format.date(format:'%d. %B %Y')}</h2>
											{post.title -> f:link.action(action : 'detail', arguments : '{post:post}', pageUid : '{settings.detailUid}')}<br>
										</f:then>
										<f:else>
											{post.title -> f:link.action(action : 'detail', arguments : '{post:post}', pageUid : '{settings.detailUid}')}<br>
										</f:else>
									</f:if>
								</f:for>
							</f:groupedFor>
						</f:groupedFor>
					</f:groupedFor>
				</div>
			</div>
		</div>

	</f:section>

</div>