{namespace tk=Tx_Efblog_ViewHelpers}
<f:layout name="Default" />
<f:section name="content">
	<tk:format.raw>
		<script>
			$(function() {
				$.datepicker.setDefaults($.datepicker.regional['de']);			
			
				$("#datepicker").datepicker({ 
					dateFormat: '@',
					beforeShowDay:  highlightDays,
					onSelect: function(value, date) { 					
						window.location.href = '<f:uri.action action="calendarView" absolute="TRUE" />&tx_efblog_fe1[date]=' + value;
					},
					onChangeMonthYear:function(year, month, inst) {
						getDates(year, month, inst);
					},
					showWeek: false,
					inline: true
				});

			});
			
			var highlightedDates = {monthDates};
			
			function getDates(year, month, inst) {
					$.ajax({
						async: false,
						url: '<f:uri.action action="ajaxCalendarUpdate" pageType="6661" absolute="TRUE" noCacheHash="TRUE" />',
						data: {
							'tx_efblog_fe1[month]': month,
							'tx_efblog_fe1[year]': year
						},
						type: "GET",
						dataType: "json",
						success: function(result) {
							highlightedDates = result;
							 $(inst).datepicker("refresh");
						}
					});
			}	
			
			function highlightDays(date)
			{
				dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
				if ($.inArray(dmy, highlightedDates) == -1) {
					return [false, "",""];
				} else {
					return [true,"",""];
				}
			}
		</script>
	</tk:format.raw>
    <div class="tx-efblog-calendar-container">
		<div id="datepicker" style="float: left; width: 240px;"></div>
		<div id="calEntries" style="float: right; width: 420px;">
			<h2><tk:format.date format="%d. %B %Y">@{thisDay}</tk:format.date></h2>
			<f:if condition="{todayPosts}">
				<f:then>
					<f:for each="{todayPosts}" as="today"  iteration="todayIterator">
						<p>{today.date -> tk:format.date(format:'%H:%M')} Uhr - 
							{today.title -> f:link.action(action : 'detail', arguments : '{post:today}', pageUid : '{settings.detailUid}')}</p>
					</f:for>
				</f:then>
				<f:else>
					<p>Keine Termine für diesen Tag.</p>
				</f:else>				
			</f:if>


			<div style="border-bottom: 1px dotted #96bd48;">&nbsp;</div>
			<f:groupedFor each="{posts}" as="postsByYear" groupBy="yearOf{date}"  groupKey="year">
				<f:groupedFor each="{postsByYear}" as="postsByMonth" groupBy="monthOf{date}"  groupKey="month">
					<f:groupedFor each="{postsByMonth}" as="postsByDay" groupBy="dayOf{date}"  groupKey="day">
						<f:for each="{postsByDay}" as="post"  iteration="dayIterator">
							<f:if condition="{dayIterator.isFirst}">
								<f:then>
									<h2>{post.date -> tk:format.date(format:'%d. %B %Y')}</h2>
									{post.title -> f:link.action(action : 'detail', arguments : '{post:post}', pageUid : '{settings.detailUid}')}<br>
								</f:then>
								<f:else>
									{post.title -> f:link.action(action : 'detail', arguments : '{post:post}', pageUid : '{settings.detailUid}')}<br>
								</f:else>
							</f:if>
						</f:for>
					</f:groupedFor>
				</f:groupedFor>
			</f:groupedFor>
		</div>
	</div>

</f:section>
