{namespace tk=Tx_Tkblog_ViewHelpers}
<f:layout name="Default" />
<f:section name="content">
    <div class="tx-tkblog-category-container">
		<h1>
			{posts->f:count()}
			<f:if condition="<f:count subject='{posts}' /> == 1">
				<f:then>{f:translate(key : 'list_category_result')}</f:then>
				<f:else>{f:translate(key : 'list_category_results')}</f:else>
			</f:if>			
		</h1>

		<div class="tx-tkblog-category-infos">
			<div class="image">
				<f:for each="{category.image}" as="image" iteration="imageIterator">
					<f:if condition="{image}">
						<f:if condition="{dam}">
							<f:then>
							{f:image(src: "{image.file_path}{image.file_name}", alt: "{category.title}", width: "120m", height: "120m")}
							</f:then>
							<f:else>
							{f:image(src: "uploads/tx_tkblog/{image}", alt: "{post.title}", width: "120m", height: "120m")} 
							</f:else>
						</f:if>
					</f:if>
				</f:for>
			</div>
			<div class="text">
				<h2>{category.title}</h2>
				{category.description -> f:format.html()}</div>
			<div class="sub">
				<f:if condition="{category.children}">
					<ul>
						<f:for each="{category.children}" as="child">
							<li>{child.title-> f:link.action(action : 'categoryList', controller : 'Post', arguments : '{category:child}', pageUid : '{settings.categoryUid}')}</li>
						</f:for>
					</ul>
				</f:if>
			</div>
		</div>
	</div>


    <f:render partial="List" arguments="{posts: posts, pagerConfig : pagerConfig, dam : dam}" />
</f:section>
