<?xml version="1.0" encoding="UTF-8"?>
{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<rss version="2.0" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
	<channel>
		<title>{settings.rss.title}</title>
		<description>{settings.rss.description}</description>
		<link>{baseUrl}</link>
		<atom:link href="{f:uri.page(pageUid: '{pid}', pageType: '102', absolute: 'TRUE')}" rel="self" type="application/rss+xml" />
		<lastBuildDate>{date}</lastBuildDate>
		<image>
		<link>{baseUrl}</link>
		<title>{settings.rss.title}</title>
		<url>{baseUrl}{settings.rss.image}</url>
		</image>
		<f:for each="{rssItems}" as="rssItem">
			<item>
				<title>{rssItem.title}</title>
				<link><f:format.cdata>{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:rssItem.post}}', pageUid : '{rssItem.detailUid}', absolute: '1', noCacheHash : '1')}</f:format.cdata></link>
				<guid><f:format.cdata>{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:rssItem.post}}', pageUid : '{rssItem.detailUid}', absolute: '1', noCacheHash : '1')}</f:format.cdata></guid>
				<description>{rssItem.description -> f:format.crop(maxCharacters: '280')}</description>
				<f:if condition="{rssItem.categories}"><category>{rssItem.categories}</category></f:if>
				<pubDate>{rssItem.date -> f:format.date(format:'r')}</pubDate>
				<media:thumbnail width="120" height="120" url="{baseUrl}<f:uri.image image="{rssItem.image}" width="120" height="120c"/>"/>

				<comments><f:format.cdata>{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:rssItem.post}}', pageUid : '{rssItem.detailUid}', section : 'comments', absolute: '1', noCacheHash : '1')}</f:format.cdata></comments>
				<slash:comments>{rssItem.comments -> f:count()}</slash:comments>
			</item>
		</f:for>
	</channel>
</rss>
