{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>
	<f:section name="content">
		<div class="tx-efblog-combined">
			<f:for each="{posts}" as="post">
				<div class="tx-efblog-combined-entry">
					<f:if condition="{post.teaserImage}">
						<f:render section="image" arguments="{post: post}"/>
					</f:if>

					<div class="title">
						<h2>
							<f:link.page additionalParams="{tx_efblog_fe1:{post : post}}" pageUid="{post.detailUid}">
								{post.title -> f:format.crop(maxCharacters: '44', append: '{f:translate(key : "teaser_more")}')}
							</f:link.page>
						</h2>
					</div>
					<div class="infos">
						<span class="date"> {post.date -> f:format.date(format:'%d.%m.%y')}</span> |
						<f:if condition="{post.views} > 1">
							<f:then>
								<span class="views">{post.views} <span class="label">{f:translate(key : 'list_views')}</span></span>
							</f:then>
							<f:else>
								<span class="view">{post.views} <span class="label">{f:translate(key : 'list_view')}</span></span>
							</f:else>
						</f:if>
						|
						<f:if condition="{post.comments -> f:count()} > 1">
							<f:then>
								<f:link.page additionalParams="{tx_efblog_fe1:{post : post}}" pageUid='{settings.detailUid}' section='comments' class="comments">
									{post.comments -> f:count()} <span class="label">{f:translate(key : 'comment_comments')}</span>
								</f:link.page>
							</f:then>
							<f:else>
								<f:link.page additionalParams="{tx_efblog_fe1:{post : post}}" pageUid='{settings.detailUid}' section='comments' class="comment">
									{post.comments -> f:count()} <span class="label">{f:translate(key : 'comment_comment')}</span>
								</f:link.page>
							</f:else>
						</f:if>
						|
						<span class="name">{post.blogName}</span>
					</div>

				</div>
			</f:for>
		</div>
	</f:section>

	<f:section name="image">
		<div class="tx-efblog-combined-image">
			<!-- Post Image-->
			<f:for each="{post.teaserImage}" as="image" iteration="imageIterator">
				<f:if condition="{image}">
					<f:if condition="{imageIterator.cycle} <= {settings.listView.images}">
						<f:link.page additionalParams="{tx_efblog_fe1:{post : post}}" pageUid="{post.detailUid}">
							<f:image image="{image}" alt="{post.title}" width="{settings.listView.imageWidth}" height="{settings.listView.imageHeight}"/>
						</f:link.page>
					</f:if>
				</f:if>
			</f:for>
		</div>
	</f:section>

</div>
