<?xml version="1.0" encoding="UTF-8"?>
{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<rss version="2.0" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{settings.rss.title}</title>
		<description>{settings.rss.description}</description>
		<link>{settings.rss.blogUrl}</link>
		<atom:link href="{settings.rss.atomUrl}" rel="self" type="application/rss+xml" />
		<image>
		<link>{settings.rss.blogUrl}</link>
		<title>{settings.rss.title}</title>
		<url>{settings.rss.image}</url>
		</image>
		<f:for each="{rssItems}" as="rssItem">
			<item>
				<title>{rssItem.title}</title>
				<link><tk:format.raw value="<![CDATA[" />{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:rssItem.post}}', pageUid : '{rssItem.detailUid}', absolute: '1', noCacheHash : '1')}<tk:format.raw value="]]>" /></link>
				<guid><tk:format.raw value="<![CDATA[" />{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:rssItem.post}}', pageUid : '{rssItem.detailUid}', absolute: '1', noCacheHash : '1')}<tk:format.raw value="]]>" /></guid>
				<description>{rssItem.description -> f:format.crop(maxCharacters: '280')}</description>
				<category>{rssItem.categories}</category>
				<pubDate>{rssItem.date -> f:format.date(format:'r')}</pubDate>
				<comments><tk:format.raw value="<![CDATA[" />{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:rssItem.post}}', pageUid : '{rssItem.detailUid}', section : 'comments', absolute: '1', noCacheHash : '1')}<tk:format.raw value="]]>" /></comments>
				<slash:comments>{rssItem.comments -> f:count()}</slash:comments>
			</item>
		</f:for>
	</channel>
</rss>
