<?xml version="1.0" encoding="UTF-8"?>
{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{post.title}</title>
		<description>{settings.rss.description}</description>
		<link>{baseUrl}</link>
		<atom:link href="{f:uri.page(pageUid: '{pid}', additionalParams: '{tx_efblog_fe1:{post : post}}', noCacheHash: '1', pageType: '101', absolute: 'TRUE')}" rel="self" type="application/rss+xml" />
		<lastBuildDate>{date}</lastBuildDate>
		<image>
		<link>{baseUrl}</link>
		<title>{post.title}</title>
		<url>{settings.rss.image}</url>
		</image>
		<f:for each="{rssItems}" as="rssItem">
			<item>
				<title>{rssItem.title}</title>
				<link><f:format.cdata>{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:rssItem.post}}', pageUid : '{settings.detailUid}', section : '{rssItem.section}', absolute: '1', noCacheHash : '1')}</f:format.cdata></link>
				<guid><f:format.cdata>{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:rssItem.post}}', pageUid : '{settings.detailUid}', section : '{rssItem.section}', absolute: '1', noCacheHash : '1')}</f:format.cdata></guid>
				<description>{rssItem.message -> f:format.crop(maxCharacters: '600')}</description>
				<pubDate>{rssItem.date -> f:format.date(format:'r')}</pubDate>
			</item>
		</f:for>
	</channel>
</rss>
