<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>
	<f:section name="content">
		<f:if condition="{post}">
			<f:render partial="DetailMeta" section="main" arguments="{post: post, description: description}"/>

			<div class="tx-efblog-detail-container" data-uid="{post.uid}">
				<f:if condition="{settings.detailView.showBreadCrumb}">
					<f:render partial="DetailBreadCrumb" section="main" arguments="{breadCrumb: breadCrumb}"/>
				</f:if>

				<f:render partial="DetailBody" section="main" arguments="{post: post, pages: pages}"/>

				<!--Social-->
				<f:if condition="{settings.detailView.showSocial}">
					<f:render partial="DetailSocial" section="meta" arguments="{post: post, description : description}"/>
					<f:render partial="DetailSocial" section="main"/>
				</f:if>

				<f:render partial="DetailFooter" section="main" arguments="{post: post}"/>

				<f:if condition="{post.relatedPosts}">
					<f:render partial="DetailRelated" section="main" arguments="{post: post}"/>
				</f:if>
			</div>
		</f:if>

		<f:if condition="{post.comments}">
			<f:render partial="DetailComments" section="main" arguments="{comments: comments, post: post, allowComments: allowComments}"/>
		</f:if>

		<f:if condition='{allowComments}'>
			<f:if condition="{newComment}">
				<f:then>
					<f:render partial='CommentForm' section="newComment" arguments="{newComment: newComment}"/>
				</f:then>
				<f:else>
					<f:render partial='CommentForm' section="main" arguments="{post: post, feUser: feUser, newComment: newComment}"/>
				</f:else>
			</f:if>

		</f:if>
	</f:section>

</div>