{namespace tk=Tx_Tkblog_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
    <f:flashMessages renderMode="div" />
    <f:if condition="{post}">
	{post.title -> f:if(condition: '{settings.replaceTitle}') -> tk:document.title(mode: 'replace')}
	{post.tags -> f:if(condition: '{settings.replaceKeywords}') -> tk:document.keywords()}
	{description -> f:if(condition: '{settings.replaceDescription}') 
					->	f:format.crop(maxCharacters: '180', append: '{f:translate(key : "teaser_more")}', respectHtml: 0) 
					->tk:document.description()}

        <div class="tx-tkblog-detail-container">
            set: {setup.displayList.orderBy}
            <f:if condition="{settings.target.listUid}">
                {f:translate(key : 'detail_backto_list')-> f:link.page(pageUid : '{settings.target.listUid}')}
            </f:if>
            
            
            <h1>{post.title}</h1>
            <f:if condition="<f:count subject='{pages}' /> > 1">
                <ul class="tabs">
                    <f:for each="{pages}" as="page" key="count">
                        <li><a href="#" id="tab{count}">{page.title}</a></li>                    
                    </f:for>
                </ul>
            </f:if>

            <div class="tab_container">
                <f:for each="{pages}" as="page"  iteration="elementIterator">
                    <div class="tab_content" id="tab{elementIterator.cycle}">
                        <f:for each="{page.elements}" as="element">
                            <f:cObject typoscriptObjectPath="plugin.tx_tkblog.renderElement" data="{element}" />
                        </f:for>
                    </div>                
                </f:for>
            </div>
        </div>

        <f:for each="{post.relatedPosts}" as="relatedPost">
            <f:link.action action="detail" additionalParams="{tx_tkblog_fe1:{post:relatedPost.uid}}" title="{relatedPost.title}">
                {relatedPost.title}<br>
            </f:link.action>
        </f:for>
        <f:if condition="{post.teaserLink.link}">
            {f:if(condition: '{post.teaserLink.target}', then: 
            "{post.teaserLinkTitle -> f:link.page(pageUid : '{post.teaserLink.link}', target: '{post.teaserLink.target}')}",
            else: 
            "{post.teaserLinkTitle -> f:link.page(pageUid : '{post.teaserLink.link}')}")}
        </f:if>
    </f:if>

    <f:if condition="{post.comments}">
        <div class="tx-tkblog-comments-list">
            <p>{post.comments -> f:count()} {f:translate(key : 'comments_comments')}</p>
            <f:for each="{post.comments}" as="comment" iteration="comIterator">
                <f:cycle as="row" values="{0: 'odd', 1: 'even'}">
                    <div class="item {row}" id="comment_{comment.uid}">
                        <div class="header">
                            <div class="gravatar">
                                {f:if(condition: '{comment.website}',
                                then: "{tk:gravatar(emailAddress: '{comment.email}', defaultImageUri: '{settings.defaultGravatar}', size: '55', class: 'tx-tkblog-gravatar')
                                -> f:link.external(uri: '{comment.website}', target: '_blank')}",
                                else: "{tk:gravatar(emailAddress: '{comment.email}', defaultImageUri: '{settings.defaultGravatar}', size: '55', class: 'tx-tkblog-gravatar')}"                                
                                )}
                            </div>
                            <div class="number">
                                #{comIterator.cycle}
                            </div>
                            <div class="author">
                                {f:if(condition: '{comment.website}', 
                                then: "{comment.author -> f:link.external(uri: '{comment.website}', target: '_blank')}", 
                                else: '{comment.author}')}
                                {f:translate(key : 'comments_wrote')}
                                {comment.date -> f:format.date(format:'d.m.Y, h:m')}
                            </div>
                        </div>
                        <div class="comment">
                            <p>{comment.comment}</p>
                        </div>

                    </div>
                </f:cycle>
            </f:for>
        </div>
    </f:if>
    <div class="addComment">
        <h3><f:translate key="comments_add">[add comment]</f:translate></h3>
        <f:render partial="CommentForm" arguments="{object: newComment, objectName: 'newComment', post: post}" />
    </div>

</f:section>