<f:layout name="default" />
<f:section name="content">
    <div class="tx-tkblog-widget-container">
        <h1>{header}</h1>
        <div class="tx-tkblog-widget-content">
            <ul>
                <f:for each="{posts}" as="post">
                    <li>
                    <f:link.action action="detail" pageUid="{settings.target.detailUid}" additionalParams="{tx_tkblog_fe1:{post:post}}" title="{post.title}">
			{post.title -> f:format.crop(maxCharacters: '{settings.latestWidget.cropLink}',  append: "{f:translate(key : 'widget_latest_more')}")}
                        <f:if condition="{settings.latestWidget.showViews}">({post.views})</f:if>
                    </f:link.action>
                    </li>
                </f:for>
            </ul>
        </div>
    </div>
</f:section>
