<f:layout name="Default" />
<f:section name="content">
    <div class="tx-efblog-widget-container">
        <h1>{f:translate(key : 'widget_latestPosts_header')}</h1>
        <div class="tx-efblog-widget-content">
            <ul>
                <f:for each="{posts}" as="post">
                    <li>
                    <f:link.action action="detail" pageUid="{settings.detailUid}" additionalParams="{tx_efblog_fe1:{post:post}}" title="{post.title}">
						{post.title -> f:format.crop(maxCharacters: '{settings.latestPostsWidget.cropLink}',  append: "{f:translate(key : 'widget_latestPosts_more')}")}
                        <f:if condition="{settings.latestPostsWidget.showViews}">({post.views})</f:if>
                    </f:link.action>
                    </li>
                </f:for>
            </ul>
        </div>
    </div>
</f:section>
