{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>
	<f:section name="content">
		<f:if condition="{settings.replaceTitle}">
			{settings.blogTitle -> tk:document.title(mode: 'replace')}
		</f:if>
		<tk:headerData>
			<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="<f:uri.page additionalParams="{type:100}" absolute="TRUE"/>" />
		</tk:headerData>


		<tk:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.listView.paginator}">
			<f:for each="{paginatedPosts}" as="post">
				<div class="tx-efblog-list-item">
					<f:render partial="ListItemBody" arguments="{post : post}" section="main"/>
					<f:render partial="ListItemFooter" arguments="{post : post}" section="main"/>
				</div>
			</f:for>
		</tk:widget.paginate>
	</f:section>

</div>