{namespace tk=Tx_Tkblog_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
	<f:flashMessages />

	{settings.displayList.blogTitle -> f:if(condition: '{settings.replaceTitle}') -> tk:document.title(mode: 'prepend')}
	<tk:widget.paginate objects="{posts}"  as="paginatedPosts" configuration="{pagerConfig}">
		<f:for each="{paginatedPosts}" as="post">
			<div style="display: block; border: 1px solid #ccc; margin-bottom: 8px;">
		{post.title},
		{post.author},		
		{post.tags},
		{post.date -> f:format.date(format:'d.m.Y')},
		{post.archive -> f:format.date(format:'d.m.Y')},
		Allow Comments: {post.allowComments}<br>
				<f:for each="{post.category}" as="category">
		  {category.title},
				</f:for>
				<f:link.action action="single" arguments="{post : post, backURI : backURI, backTitle: pageTitle, counter : 1}" title="view">single</f:link.action>
				<f:for each="{post.relatedPost}" as="related">
		  {related.title}
				</f:for>

				<f:for each="{post.content}" as="element"  iteration="elementIterator">
					<f:if condition="{elementIterator.isFirst}">
						<f:if condition="{settings.displayList.renderFluid}">
							<!--Fluid Teaser-->
							<h1>{element.header}</h1>
							<f:if condition="{post.cropTeaser} == 1">
								<f:then>
										{element.bodytext -> f:format.html() -> 
										f:format.crop(maxCharacters: '{settings.displayList.cropText}',  
										append: '{f:translate(key : "teaser_more")}')}
								</f:then>
								<f:else>			
										{element.bodytext -> f:format.html()}
								</f:else>
							</f:if>


							<f:for each="{element.image}" as="image" key="imageNumber">	
								<f:if condition="{imageNumber} < {settings.displayList.images}">
									<f:image src="uploads/pics/{image}" alt="{element.header}" width="{settings.displayList.imageWidth}" height="{settings.displayList.imageHeight}" />
								</f:if>
							</f:for>
						</f:if>
						<f:if condition="{settings.displayList.renderTS}">
							<!-- TS Teaser -->
							<f:cObject typoscriptObjectPath="plugin.tx_tkblog.renderElement" data="{element}" />
						</f:if>

					</f:if>

				</f:for>


			</div>
		</f:for>
	</tk:widget.paginate>
</f:section>