{namespace tk=Tx_Tkblog_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
    <div class="tx-tkblog-search-container">
        <h1>
            <tk:widget.paginate objects="{posts}"  as="countPosts"  configuration="{insertAbove:0,insertBelow:0}">
                {countPosts->f:count()}
                <f:if condition="<f:count subject='{countPosts}' /> == 1">
                    <f:then>{f:translate(key : 'view_search_result')}</f:then>
                    <f:else>{f:translate(key : 'view_search_results')}</f:else>
                </f:if>
            </tk:widget.paginate>
            {searchPhrase}</h1>


            <div class="tx-tkblog-view-search">
                <f:form  action="list" pageUid="{settings.target.listUid}">
                    <f:form.textbox name="searchPhrase" value="{searchPhrase}" class="searchfield" />
                    <input type="image" alt="go" class="submitbtn" src="fileadmin/templates/css/images/submit.png">
                </f:form>
            </div>
    </div>

    <f:render partial="List" arguments="{posts: posts, pagerConfig : pagerConfig, dam : dam}" />
</f:section>
