{namespace tk=Tx_Tkblog_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
    <div class="tx-tkblog-search-container">
        <h1>{f:translate(key : 'widget_search')}</h1>
        <div class="tx-tkblog-search-content">
            <f:form  action="list" pageUid="{settings.target.listUid}">
                <f:form.textbox name="searchPhrase" value="{searchPhrase}" class="searchfield" id="searchPhrase" />
                <input type="image" alt="go" class="submitbtn" src="fileadmin/templates/css/images/submit.png">
            </f:form>
        </div>
    </div>
</f:section>
