<f:layout name="default" />

<f:section name="content">

	<f:flashMessages />
	<f:link.external uri="{backURI}">{f:translate(key : 'link_backToList')}</f:link.external><br>
	<f:link.action action="single" arguments="{post : post, page : 0, backURI : backURI}">not paginated</f:link.action> <br>
	<f:link.action action="single" arguments="{post : post, page : 1, backURI : backURI}">paginated</f:link.action> <br>
	
	<f:if condition="{pagerEnabled}">
		<f:then>
			<f:if condition="{pages -> f:count()} > 1">
				<f:for each="{pages}" as="pageNumber">
					<f:link.action action="single" arguments="{post : post, page : pageNumber, backURI : backURI}">page {pageNumber}</f:link.action> 
				</f:for>
			</f:if>			
			<f:for each="{elements}" as="element">
				<f:cObject typoscriptObjectPath="plugin.tx_tkblog.renderElement" data="{element}" />
			</f:for>
		</f:then>
		<f:else> 
			<f:for each="{elements}" as="element">
				<f:cObject typoscriptObjectPath="plugin.tx_tkblog.renderElement" data="{element}" />
			</f:for>
		</f:else>
	</f:if>

	<f:link.external uri="{backURI}">{f:translate(key : 'link_backToList')}</f:link.external>

</f:section>