<f:layout name="default" />
<f:section name="content">
    <div class="tx-tkblog-views-container">
        <h1>{f:translate(key : 'widget_views')}</h1>
        <div class="tx-tkblog-latest-content">
            <ul>
                <f:for each="{posts}" as="post">
                    <li>
                    <f:link.page pageUid="{pageUri}" additionalParams="{tx_tkblog_fe1: {action: 'detail', post : post, backPid : backPid, counter : 1}}">
                        {post.title -> f:format.crop(maxCharacters: '{settings.viewsWidget.cropLink}',  append: "{f:translate(key : 'widget_views_more')}")}
                        ({post.views})
                    </f:link.page>
                    </li>
                </f:for>
            </ul>
        </div>
    </div>
</f:section>
