<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>
	<f:section name="content">
		<div class="tx-efblog-widget-container">
			<div class="tx-efblog-widget-heade">
				<f:if condition="{header}">
					<f:then><h2>{header}</h2></f:then>
					<f:else><h2>{f:translate(key : 'widget_category_header')}</h2></f:else>
				</f:if>
			</div>

			<div class="tx-efblog-widget-content">
				<ul>
					<f:for each="{categories}" as="category">
						<f:render partial="CategoryElement" arguments="{category : category}" section="main"/>
					</f:for>
				</ul>
			</div>
		</div>
	</f:section>

</div>