{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>
	<f:section name="content">
		<a name="dateMenu">&nbsp;</a>

		<div class="tx-efblog-widget-container">
			<div class="tx-efblog-widget-heade">
				<f:if condition="{header}">
					<f:then><h2>{header}</h2></f:then>
					<f:else><h2>{f:translate(key : 'widget_dateMenu_header')}</h2></f:else>
				</f:if>
			</div>

			<div class="tx-efblog-widget-content">
				<f:groupedFor each="{posts}" as="postsByYear" groupBy="yearOf{date}" groupKey="year">
					<ul>
						<li>
							<h3 class="year"><a href="#dateMenu">{year} ({postsByYear -> f:count()})</a></h3>
							<ul id="y_{year}">
								<f:groupedFor each="{postsByYear}" as="postsByMonth" groupBy="monthOf{date}" groupKey="month">
									<li id="d_{year}_{month}">
										<f:link.page pageUid="{settings.dateMenuUid}" additionalParams="{tx_efblog_fe1:{year: year, month: month}}">
											<f:format.date date="10.{month}.2000" format="%B"/>
										</f:link.page>
									<span class="count">({postsByMonth -> f:count()}
									<f:if condition="<f:count subject='{postsByMonth}' /> == 1">
										<f:then>{f:translate(key : 'widget_dateMenu_item')}</f:then>
										<f:else>{f:translate(key : 'widget_dateMenu_items')}</f:else>
									</f:if>
									)</span>
									</li>
								</f:groupedFor>
							</ul>
						</li>
					</ul>
				</f:groupedFor>
			</div>
		</div>
	</f:section>

</div>
