<f:layout name="Default"/>
<f:section name="content">
	<div class="tx-efblog-widget-container">
		<h2>{f:translate(key : 'widget_search_header')}</h2>

		<div class="tx-efblog-widget-content">
			<form action="{f:uri.page(pageUid: '{settings.searchUid}')}" method="get">
				<input type="hidden" name="id" value="{settings.searchUid}">
				<input type="hidden" name="noCache" value="1">
				<input type="text"name="tx_efblog_fe1[searchPhrase]" value="{searchPhrase}" class="searchfield">
				<input type="submit" alt="go" class="submitbtn" value="go">
			</form>
		</div>
	</div>
</f:section>
