<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>
	<f:section name="content">
		<f:link.page pageUid=""></f:link.page>
		<div class="tx-efblog-widget-container">
			<h2>{f:translate(key : 'widget_search_header')}</h2>

			<div class="tx-efblog-widget-content">
				<div class="search-field">
					<f:form pluginName="Fe1" controller="Post" pageUid="{settings.searchUid}" noCache="1" noCacheHash="1">
						<f:form.textfield name="searchPhrase" value="{searchPhrase}"/>
						<f:form.submit class="button" value="{f:translate(key: 'view_search_submit')}"/>
					</f:form>
				</div>
			</div>
		</div>
	</f:section>
</div>