<f:layout name="Default"/>
<f:section name="content">
	<div class="tx-efblog-widget-container">
		<h2>{f:translate(key : 'widget_views_header')}</h2>

		<div class="tx-efblog-widget-content">
			<ul>
				<f:for each="{posts}" as="post">
					<li>
						<f:link.page pageUid="{settings.detailUid}" additionalParams="{tx_efblog_fe1:{post:post}}" title="{post.title}">
							{post.title -> f:format.crop(maxCharacters: '{settings.viewsWidget.cropLink}', append: "{f:translate(key : 'widget_views_more')}")}
							({post.views})
						</f:link.page>
					</li>
				</f:for>
			</ul>
		</div>
	</div>
</f:section>
