<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script>
	tinymce.init({
	selector: '#tx-efblog-message',
	paste_as_text: true,
	valid_elements: "p,br,strong/b,em,blockquote,a[href|target=_blank|rel],img[src]",
	content_css: "{f:uri.resource(path: 'Styles/Tinymce.css', absolute: 'TRUE')}",

	plugins: [
		'link code fullscreen wordcount'
	],
	target_list: [
		{title: 'New page', value: '_blank'}
	],
	rel_list: [
		{title: 'No Follow', value: 'nofollow'}
	],

	toolbar1: 'bold italic blockquote link fullscreen',
	menubar: false,
	statusbar: true
});
</script>