<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="main">

		<div class="tx-efblog-comment-form" id="comment-form">
			<div class="addComment">
				<h3>{f:translate(key : 'comment_add')}</h3>
			</div>

			<f:form controller="Comment" action="create" name="newComment" section="comment-form" id="comment-form" arguments="{post: post}">
				{f:form.hidden(property:"parentComment", id: "tx-efblog-parentComment")}
				<div class="form-row half">
					<div class="label">
						<label for="tx-efblog-author">{f:translate(key : 'comment_form_author')}</label>
					</div>
					<div class="field">
						<f:if condition="{feUser.name}">
							<f:then>{f:form.textfield(property:"author", id: "tx-efblog-author", value: '{feUser.name}')}</f:then>
							<f:else>{f:form.textfield(property:"author", id: "tx-efblog-author")}</f:else>
						</f:if>

						<f:render partial="FormErrors" section="field" arguments="{object: 'newComment' field: 'author'}"/>
					</div>
				</div>

				<div class="form-row half right">
					<div class="label">
						<label for="tx-efblog-email">{f:translate(key : 'comment_form_email')}</label>
					</div>
					<div class="field">
						<f:if condition="{feUser.email}">
							<f:then>{f:form.textfield(property:"email", id: "tx-efblog-email", value: "{feUser.email}")}</f:then>
							<f:else>{f:form.textfield(property:"email", id: "tx-efblog-email")}</f:else>
						</f:if>
						<f:render partial="FormErrors" section="field" arguments="{object: 'newComment' field: 'email'}"/>
					</div>
				</div>

				<div class="form-row link">
					<div class="label">
						<label for="tx-efblog-link">{f:translate(key : 'comment_form_link')}</label>
					</div>
					<div class="field">
						{f:form.textfield(property:"link", id: "tx-efblog-link")}
					</div>
				</div>

				<div class="form-row textarea">
					<div class="label">
						<label for="tx-efblog-message">{f:translate(key : 'comment_form_message')}</label>
					</div>
					<div class="field">
						{f:form.textarea(property: "message", id: "tx-efblog-message", rows: "8", cols: "46")}
						<f:render partial="FormErrors" section="field" arguments="{object: 'newComment' field: 'message'}"/>
					</div>
				</div>
				<f:if condition="{settings.comment.allowRte">
					<f:render partial="CommentFormRte"/>
				</f:if>

				<div class="form-row half">
					<div class="label">
						<label for="tx-efblog-website">{f:translate(key : 'comment_form_website')}</label>
					</div>
					<div class="field">
						<f:if condition="{feUser.www}">
							<f:then>{f:form.textfield(property:"website", id: "tx-efblog-website", value: "{feUser.www}")}</f:then>
							<f:else>{f:form.textfield(property:"website", id: "tx-efblog-website")}</f:else>
						</f:if>

					</div>
				</div>

				<div class="form-row half right">
					<div class="label">
						<label for="tx-efblog-location">{f:translate(key : 'comment_form_location')}</label>
					</div>
					<div class="field">
						<f:if condition="{feUser.city}">
							<f:then>{f:form.textfield(property:"location", id: "tx-efblog-location", value: "{feUser.city}")}</f:then>
							<f:else>{f:form.textfield(property:"location", id: "tx-efblog-location")}</f:else>
						</f:if>

					</div>
				</div>

				<div class="form-row submit">
					<f:form.submit class="button" value="{f:translate(key: 'comment_form_submit', default: '[submit]')}"/>
				</div>
			</f:form>
			<p class="disclaimer">{f:translate(key : 'comment_form_disclaimer')}</p>
		</div>
	</f:section>

	<f:section name="newComment">
		<div class="tx-efblog-comment-form" id="comment-form">
			<f:if condition="{newComment.spampoints} < {settings.comments.spam.spampointsToHide}">
				<f:then>
					{f:translate(key : 'comment_created')} <a href="#comment_{newComment.uid}">({f:translate(key : 'comment_created.show')}).</a>
				</f:then>
				<f:else>
					{f:translate(key : 'comment_created.hidden')
				</f:else>
			</f:if>
		</div>
	</f:section>
</div>