<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

	<f:section name="main">

		<div id="tx-efblog-comment-form">
			<f:render partial="FormErrors"/>
			<f:form controller="Comment" action="create" name="newComment" id="comment-form" section="tx-efblog-comment-form" arguments="{post: post}">
				{f:form.hidden(property:"parentComment", id: "tx-efblog-parentComment")}
				<div class="tf">
					<label for="tx-efblog-author">{f:translate(key : 'comment_form_author')}</label>
					{f:form.textfield(property:"author", required: 'required', id: "tx-efblog-author")}
				</div>

				<div class="tf">
					<label for="tx-efblog-email">{f:translate(key : 'comment_form_email')}</label>
					{f:form.textfield(property:"email", type: 'email', id: "tx-efblog-email")}
				</div>

				<div class="tf">
					<label for="tx-efblog-website">{f:translate(key : 'comment_form_website')}</label>
					{f:form.textfield(property:"website", id: "tx-efblog-website")}
				</div>

				<div class="tf">
					<label for="tx-efblog-link">{f:translate(key : 'comment_form_link')}</label>
					<input id="tx-efblog-link" type="text" name="tx_efblog_fe[newComment][link]">
				</div>

				<div class="tf">
					<label for="tx-efblog-location">{f:translate(key : 'comment_form_location')}</label>
					{f:form.textfield(property:"location", id: "tx-efblog-location")}
				</div>

				<div class="tf">
					<label for="tx-efblog-title">{f:translate(key : 'comment_form_title')}</label>
					{f:form.textfield(property:"title", required: 'required', id: "tx-efblog-title")}
				</div>

				<div class="ta">
					<label for="tx-efblog-message">{f:translate(key : 'comment_form_message')}</label>
					{f:form.textarea(property: "message", id: "tx-efblog-message", rows: "8", cols: "46")}
				</div>

				<div class="submit">
					<f:form.submit class="button" value="{f:translate(key: 'comment_form_submit', default: '[submit]')}">
						<input class="button" type="submit" name="" value="Submit"/>
					</f:form.submit>
				</div>
			</f:form>
			<strong>{f:translate(key : 'comment_form_disclaimer')}</strong>
		</div>
	</f:section>
</div>