{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="main">
		<div class="single-comment {f:if(condition: '{comment.isAuthor}', then: 'author-comment')}">

			<div class="header">

				<div class="number" id="comment_{comment.uid}">
					#{comIterator.cycle}
				</div>

				<div class="info">
					<div class="author">
					<span class="name">
					<f:if condition="{comment.website}">
						<f:then>
							<f:link.external uri="{comment.website}" target="_blank" rel="nofollow">
								{comment.author}
							</f:link.external>
						</f:then>
						<f:else>
							{comment.author}
						</f:else>
					</f:if>
						</span>
						{f:translate(key : 'comment_wrote')}
						{comment.date -> f:format.date(format:'{settings.comments.dateFormat}')}

						<f:if condition="{comment.location}">
							{f:translate(key : 'comment_from')}
							<span class="location">{comment.location}</span>
						</f:if>

						{f:if(condition: '{comment.isAuthor}', then: "({f:translate(key : 'comment_from_author')})")}
					</div>

					<f:if condition="{isMainComment}">
						<f:if condition="{allowComments}">
							<div class="create-answer">
								<a href="#comment-form" data-comment="{comment.uid}" data-post="{post.uid}">
									{f:translate(key : 'comment_reply')}
								</a>
							</div>
						</f:if>
					</f:if>
				</div>

				<div class="gravatar">
					<f:if condition="{comment.avatar}">
						<f:then>
							<f:if condition="{comment.website}">
								<f:then>
									<f:link.external uri="{comment.website}" target="_blank" rel="nofollow">
										<f:image src="uploads/pics/{comment.avatar}" alt="{comment.author}" width="{settings.comments.gravatarSize}" height="{settings.comments.gravatarSize}c" class="tx-efblog-gravatar"/>
									</f:link.external>
								</f:then>
								<f:else>
									<f:image src="uploads/pics/{comment.avatar}" alt="{comment.author}" width="{settings.comments.gravatarSize}" height="{settings.comments.gravatarSize}c" class="tx-efblog-gravatar"/>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:if condition="{comment.website}">
								<f:then>
									<f:link.external uri="{comment.website}" target="_blank" rel="nofollow">
										<tk:gravatar emailAddress="{comment.email}" defaultImageUri="{settings.comments.defaultGravatar}" size="{settings.comments.gravatarSize}c" class="tx-efblog-gravatar"/>
									</f:link.external>
								</f:then>
								<f:else>
									<tk:gravatar emailAddress="{comment.email}" defaultImageUri="{settings.comments.defaultGravatar}" size="{settings.comments.gravatarSize}c" class="tx-efblog-gravatar"/>
								</f:else>
							</f:if>
						</f:else>
					</f:if>

				</div>

			</div>
			<div class="comment">
				<f:if condition="{comment.title}">
					<h2 class="title">{comment.title}</h2>
				</f:if>
				<div class="message">{comment.message -> f:format.html()}</div>
			</div>

		</div>

	</f:section>
</div>