{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="main">
		{post.title -> f:if(condition: '{settings.replaceTitle}') -> tk:document.title(mode: 'replace')}
		<f:if condition="{settings.replaceKeywords}">
			<tk:metaTag name="keywords" content="{post.tags}"/>
		</f:if>

		<f:if condition="{settings.replaceDescription}">
			<tk:metaTag name="description" content="{description -> f:format.crop(maxCharacters: '180', append: '…', respectHtml: 0)}"/>
		</f:if>

		<f:if condition="{settings.addDateMeta}">
			<tk:metaTag name="publication_date" content="{post.date -> f:format.date(format: 'Y-m-d')}"/>
		</f:if>

		<f:if condition="{settings.replaceAuthor}">
			<f:for each="{post.author}" as="pauthor" iteration="authorIterator">
				<f:if condition="{authorIterator.isFirst}">
					<tk:metaTag name="author" content="{pauthor.name}"/>
				</f:if>
			</f:for>
		</f:if>
	</f:section>

</div>