<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

	<f:section name="form">

		<f:form.validationResults>
			<div class="errors">
				<h2><f:translate key="error.errorsOccurred">[following errors occurred:]</f:translate></h2>
				<f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
					<ul>
						<f:for each="{errors}" as="error">
							{error}:{title}
							<br/>
						</f:for>
					</ul>
				</f:for>
			</div>
		</f:form.validationResults>

	</f:section>

	<f:section name="field">
		<div class="error">
			<f:form.validationResults for="{path}" as="property">
				{property.flattenedErrors -> f:debug()}
			</f:form.validationResults>
		</div>
	</f:section>

</div>