#tkblog-blogpanel, #tkblog-blogpanel .x-panel-bwrap, #tkblog-blogpanel .x-panel-body {
    height: 100%;
	overflow: hidden;
}

#tkblog-blogpanel.x-panel {
    border-right: 2px solid #999;
}

#tkblog-blogpanel h1 {
	padding: 5px 0;
	background-color: blue;
	color: white;
}
