.social_share_privacy_area {
  clear: both;
  margin: 20px 0 !important;
  list-style-type: none;
  padding: 0 !important;
  width: auto;
  height: 25px;
  display: block; }

.social_share_privacy_area li {
  margin: 0 !important;
  padding: 0 !important;
  height: 21px;
  float: left; }

.social_share_privacy_area li .dummy_btn {
  float: left;
  margin: 0 0 0 10px;
  cursor: pointer;
  padding: 0;
  height: inherit; }

.social_share_privacy_area li div iframe {
  overflow: hidden;
  height: inherit;
  width: inherit; }

.social_share_privacy_area .start, .social_share_privacy_area .center, .social_share_privacy_area .end, .social_share_privacy_area .label {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline; }

/* Facebook begin */
.social_share_privacy_area .facebook {
  width: 180px;
  display: inline-block; }

.social_share_privacy_area .facebook .fb_like iframe {
  width: 145px; }

.social_share_privacy_area div.fb_like_privacy_dummy {
  height: 20px;
  padding-left: 15px;
  background: url(../Images/socialshareprivacy/ssp_sprite.png) no-repeat 0 -20px; }

.social_share_privacy_area div.fb_like_privacy_dummy span {
  height: 17px;
  padding-top: 3px;
  display: block;
  padding-right: 5px;
  position: relative;
  left: 5px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 15px;
  background: url(../Images/socialshareprivacy/ssp_sprite.png) no-repeat 100% -20px;
  color: #575757; }

/* Facebook end */
/* Twitter begin */
.social_share_privacy_area .twitter {
  width: 148px; }

.social_share_privacy_area li div.tweet {
  width: 115px; }

.social_share_privacy_area div.tweet_this_dummy {
  float: left;
  height: 20px;
  padding-left: 15px;
  background: url(../Images/socialshareprivacy/ssp_sprite.png) no-repeat top left; }

.social_share_privacy_area div.tweet_this_dummy span {
  float: left;
  height: 17px;
  padding-top: 3px;
  display: block;
  padding-right: 5px;
  position: relative;
  left: 5px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;
  color: #373737;
  background: url(../Images/socialshareprivacy/ssp_sprite.png) no-repeat top right; }

/* Twitter end */
/* Google+ begin */
.social_share_privacy_area .gplus {
  width: 123px; }

.social_share_privacy_area li div.gplusone {
  width: 90px; }

.social_share_privacy_area div.gplus_one_dummy {
  background: transparent url(../Images/socialshareprivacy/ssp_sprite.png) no-repeat 0 -40px;
  width: 32px;
  height: 20px;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

/* Google+ end */
/* Switch begin */
.social_share_privacy_area li .switch {
  display: inline-block;
  text-indent: -9999em;
  background: transparent url(../Images/socialshareprivacy/ssp_sprite.png) no-repeat -70px -40px scroll;
  width: 23px;
  height: 12px;
  overflow: hidden;
  float: left;
  margin: 4px 0 0;
  padding: 0;
  cursor: pointer; }

.social_share_privacy_area li .switch.on {
  background-position: -70px -52px; }

/* Switch end */
/* Tooltips begin */
.social_share_privacy_area li.help_info {
  position: relative; }

.social_share_privacy_area li.help_info .info,
.social_share_privacy_area li .help_info.icon .info {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 290px;
  padding: 10px 15px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 4px #999;
  -webkit-box-shadow: 0 3px 4px #999;
  box-shadow: 0 3px 4px #999;
  background-color: #fdfbec;
  color: #000;
  z-index: 500; }

.social_share_privacy_area li.gplus.help_info .info {
  left: -60px; }

.social_share_privacy_area li .help_info.icon .info {
  left: -243px;
  width: 350px; }

.social_share_privacy_area li.help_info.display .info,
.social_share_privacy_area li .help_info.icon.display .info {
  display: block; }

.social_share_privacy_area li.help_info.info_off.display .info {
  display: none; }

.social_share_privacy_area li .help_info.icon {
  background: #fff url(../Images/socialshareprivacy/ssp_sprite.png) no-repeat -93px -41px scroll;
  width: 25px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #e7e3e3;
  border-right-width: 0;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  margin: 0;
  padding: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu.on .help_info.icon {
  border-top-width: 0;
  border-left-width: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu.perma_option_off .help_info.icon {
  border-right-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* Tooltips end */
/* Settings/Info begin */
.social_share_privacy_area li.settings_info {
  position: relative;
  top: -2px; }

.social_share_privacy_area li.settings_info a {
  text-decoration: none;
  margin: 0 !important; }

.social_share_privacy_area li.settings_info .settings_info_menu {
  background-color: #f3f4f5;
  border: 2px solid #e7e3e3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #c1c1c1;
  -webkit-box-shadow: 2px 2px 3px #c1c1c1;
  box-shadow: 3px 3px 3px #c1c1c1;
  left: 0;
  position: absolute;
  top: 0;
  width: 135px;
  z-index: 1000;
  margin: 0;
  padding: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu.off {
  border-width: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent; }

.social_share_privacy_area li.settings_info .settings_info_menu.off form {
  display: none;
  margin: 0;
  padding: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu .settings {
  text-indent: -9999em;
  display: inline-block;
  background: #fff url(../Images/socialshareprivacy/ssp_sprite.png) no-repeat -35px -40px scroll;
  width: 25px;
  height: 20px;
  border: 2px solid #e7e3e3;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #ddd;
  margin: 0;
  padding: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu.on .settings {
  border-top-width: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu form {
  margin: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset {
  border-width: 0;
  margin: 0;
  padding: 0 10px 10px; }

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset legend {
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  margin: 0;
  padding: 10px 0;
  width: 115px; }

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset input {
  clear: both;
  float: left;
  margin: 4px 10px 4px 0;
  padding: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label {
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  -moz-transition: color .5s ease-in;
  -webkit-transition: color .5s ease-in;
  transition: color .5s ease-in;
  margin: 0;
  padding: 0; }

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label.checked {
  color: #090; }

/* Settings/Info end */
/* Set box-sizing to "content-box" for all children
This fixes problems with frameworks like Bootstrap3 which set "border-box" globally by default */
.social_share_privacy_area * {
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* Smoothness style sheet for jQuery Datepicker v5.0.0. */
.datepick {
  background-color: #fff;
  color: #222;
  border: 1px solid #aaa;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 90%; }
  .datepick input, .datepick label, .datepick select {
    font-size: 1em;
    display: inline; }

.datepick-rtl {
  direction: rtl; }

.datepick-popup {
  z-index: 1000; }

.datepick-disable {
  position: absolute;
  z-index: 100;
  background-color: white;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.datepick a {
  color: #222;
  text-decoration: none; }

.datepick a.datepick-disabled {
  color: #888;
  cursor: auto; }

.datepick button {
  margin: 0.25em;
  padding: 0.125em 0em;
  background-color: #fcc;
  border: none;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  font-weight: bold; }

.datepick-nav, .datepick-ctrl {
  float: left;
  width: 100%;
  background-color: #fff;
  font-size: 90%;
  font-weight: bold; }

.datepick-ctrl {
  background-color: #fee6e3; }

.datepick-cmd {
  width: 30%; }

.datepick-cmd:hover {
  background-color: #e0e0e0; }

.datepick-ctrl .datepick-cmd:hover {
  background-color: #f08080; }

.datepick-cmd-prevJump, .datepick-cmd-nextJump {
  width: 8%; }

a.datepick-cmd {
  height: 1.5em; }

button.datepick-cmd {
  text-align: center; }

.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
  float: left;
  padding-left: 2%; }

.datepick-cmd-current, .datepick-cmd-today {
  float: left;
  width: 35%;
  text-align: center; }

.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
  float: right;
  padding-right: 2%;
  text-align: right; }

.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
  float: right;
  padding-left: 0%;
  padding-right: 2%;
  text-align: right; }

.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
  float: right; }

.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
  float: left;
  padding-left: 2%;
  padding-right: 0%;
  text-align: left; }

.datepick-month-nav {
  float: left;
  text-align: center; }

.datepick-month-nav div {
  float: left;
  width: 12.5%;
  margin: 1%;
  padding: 1%; }

.datepick-month-nav span {
  color: #888; }

.datepick-month-row {
  clear: left; }

.datepick-month {
  float: left;
  width: 15em;
  border: 1px solid #aaa;
  text-align: center; }

.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
  height: 1.5em;
  background-color: #e0e0e0;
  color: #222;
  font-weight: bold; }

.datepick-month-header select, .datepick-month-header input {
  height: 1.4em;
  border: none; }

.datepick-month-header input {
  position: absolute;
  display: none; }

.datepick-month table {
  width: 100%;
  border-collapse: collapse; }

.datepick-month thead {
  border-bottom: 1px solid #aaa; }

.datepick-month th, .datepick-month td {
  margin: 0em;
  padding: 0em;
  font-weight: normal;
  text-align: center; }

.datepick-month thead tr {
  border: 1px solid #aaa; }

.datepick-month td {
  background-color: #eee;
  border: 1px solid #aaa; }

.datepick-month td.datepick-week * {
  background-color: #e0e0e0;
  color: #222;
  border: none; }

.datepick-month a {
  display: block;
  width: 100%;
  padding: 0.125em 0em;
  background-color: #eee;
  color: #000;
  text-decoration: none; }

.datepick-month span {
  display: block;
  width: 100%;
  padding: 0.125em 0em; }

.datepick-month td span {
  color: #888; }

.datepick-month td .datepick-other-month {
  background-color: #fff; }

.datepick-month td .datepick-weekend {
  background-color: #ddd; }

.datepick-month td .datepick-today {
  background-color: #fbf9ee; }

.datepick-month td .datepick-highlight {
  background-color: #dadada; }

.datepick-month td .datepick-selected {
  background-color: #fcc; }

.datepick-status {
  clear: both;
  text-align: center; }

.datepick-clear-fix {
  clear: both; }

/*Paginator*/
.tx-efblog-widget-paginator {
  height: 22px;
  padding-top: 6px; }

.tx-efblog-widget-paginator {
  text-align: center;
  list-style: none inside none;
  width: 100%;
  margin: 0;
  padding: 0; }

.tx-efblog-widget-paginator li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 6px 0 0; }

.tx-efblog-widget-paginator li a {
  font-weight: normal;
  text-decoration: none; }

/*List*/
.tx-efblog-list-entry {
  margin-bottom: 25px; }

.tx-efblog-list-images {
  float: right;
  margin: 6px 0 6px 6px; }

.tx-efblog-list-imagerow {
  width: 100px; }

.tx-efblog-list-imagerow a:hover {
  border: none; }

.tx-efblog-list-body h1 {
  font-weight: normal; }

.tx-efblog-list-text h1 a {
  padding: 0 24px 1px 0;
  background: url(../Images/list-more.png) no-repeat top right; }

.tx-efblog-list-text h1 a:hover {
  background: url(../Images/list-more-act.png) no-repeat top right; }

.tx-efblog-list-footer {
  clear: both;
  border-top: 1px solid #353333;
  margin: 3px 0px 0px 0px;
  padding: 3px 0px 0px 0px; }

.tx-efblog-list-footer .more {
  float: left;
  padding-right: 18px;
  background: url(../Images/breadcrumb_right.png) no-repeat top right; }

.tx-efblog-list-footer .info {
  text-align: right; }

/*detail*/
.tx-efblog-detail-breadCrumb {
  height: 18px;
  width: 100%; }

.tx-efblog-detail-breadCrumb .left {
  float: left;
  width: 34%;
  padding-left: 18px;
  background: url(../Images/breadcrumb_left.png) no-repeat top left; }

.tx-efblog-detail-breadCrumb .center {
  float: left;
  width: 18%;
  padding-left: 18px;
  background: url(../Images/breadcrumb_top.png) no-repeat top left; }

.tx-efblog-detail-breadCrumb .right {
  float: right;
  text-align: right;
  padding-right: 18px;
  width: 34%;
  background: url(../Images/breadcrumb_right.png) no-repeat top right; }

/* detail pager */
.tx-efblog-detail-container .detailpager {
  overflow: auto;
  border-radius: 6px;
  border: 1px solid #353333;
  padding: 8px;
  background: #fff;
  margin-top: 6px; }

.tx-efblog-detail-container ul.tabs {
  float: left;
  list-style: none;
  width: 100%; }

.tx-efblog-detail-container ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 140%;
  overflow: hidden;
  position: relative; }

.tx-efblog-detail-container ul.tabs li a {
  background: url(../Images/list_orange.png) no-repeat left top;
  color: #353333;
  display: block;
  padding: 0 6px 0 16px;
  outline: none; }

.tx-efblog-detail-container ul.tabs li a:hover {
  color: #f60;
  border: none; }

.tx-efblog-detail-container ul.tabs li.active a, .tx-efblog-detail-container ul.tabs li.active a:hover {
  color: #f60; }

.tx-efblog-detail-container .tab_container {
  overflow: hidden;
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 14px;
  padding-top: 6px; }

/*social*/
#tx-efblog-detail-social {
  border-radius: 6px;
  border: 1px solid #353333;
  padding: 8px;
  background: #fff;
  display: inline-block;
  margin-top: 14px;
  width: 554px; }

#tx-efblog-detail-social .googleplus {
  float: left; }

#tx-efblog-detail-social .twitter {
  float: left;
  margin-right: 30px; }

#tx-efblog-detail-social .facebook {
  float: left; }

#tx-efblog-detail-footer {
  clear: both;
  border-top: 1px solid #353333;
  height: 22px;
  margin: 3px 0px 0px 0px;
  padding: 3px 0px 0px 0px; }

#tx-efblog-detail-footer .more {
  float: left;
  padding-right: 18px;
  background: url(../Images/breadcrumb_right.png) no-repeat top right; }

#tx-efblog-detail-footer .info {
  text-align: right; }

#tx-efblog-detail-relatedPost {
  clear: both;
  margin: 8px 0;
  padding: 2px 6px 6px 6px;
  background-color: #ececec; }

#tx-efblog-detail-relatedPost ul {
  padding-left: 0;
  margin: 0px;
  list-style: none;
  list-style-image: url(../Images/list_sidebar.png); }

#tx-efblog-detail-externalLink {
  background-color: #ccc; }

/*comments*/
.tx-efblog-comments-rss {
  display: inline-block;
  padding-right: 18px;
  background: url(../Images/breadcrumb_right.png) no-repeat top right; }

.tx-efblog-comments-list {
  margin: 8px 0px 8px 0px; }

.tx-efblog-comments-list .item {
  margin: 0px 0px 8px 0px;
  padding: 5px;
  min-height: 60px;
  overflow: visible;
  clear: both; }

.tx-efblog-comments-list .item .answers {
  margin-left: 50px; }

.tx-efblog-comments-list .odd, .tx-efblog-comments-list .even {
  border-radius: 6px;
  border: 1px solid #353333;
  padding: 8px;
  background: #fff; }

.tx-efblog-comments-list .gravatar {
  float: right; }

.tx-efblog-comments-list .gravatar img {
  border-radius: 6px; }

.tx-efblog-comments-list .number {
  float: left;
  border-radius: 6px;
  background: #F88601;
  line-height: 55px;
  height: 50px;
  margin: 0 6px 6px 0;
  text-align: center;
  width: 50px; }

.tx-efblog-comments-list .number a {
  font-size: 28px;
  font-weight: bold;
  color: #fff; }

.tx-efblog-comments-list .number a:hover {
  border: none; }

.tx-efblog-comments-list .author, .tx-efblog-comments-list .author a {
  font-weight: bold; }

.tx-efblog-comments-list .comment {
  clear: both; }

/*comment form*/
#tx-efblog-comment-form {
  width: 530px; }

#tx-efblog-comment-form .tf, #tx-efblog-comment-form .ta {
  margin-bottom: 8px; }

#tx-efblog-comment-form .tf label {
  width: 260px;
  float: right; }

#tx-efblog-comment-form .tf input {
  width: 260px; }

#tx-efblog-comment-form .ta textarea {
  width: 426px; }

#tx-efblog-comment-form .errors {
  margin: 10px 0;
  padding: 10px;
  background-color: #FBB19B;
  border: 1px #DC4C42 solid; }

#tx-efblog-comment-form .f3-form-error {
  background-color: #FBB19B;
  border: 1px #DC4C42 solid; }

/*widgets*/
.tx-efblog-widget-container {
  border: 1px solid #333;
  margin-top: 15px;
  margin-left: 12px;
  padding-bottom: 3px;
  border-radius: 6px;
  box-shadow: 3px 3px 6px #888;
  width: 200px; }

.tx-efblog-widget-container h1 {
  font-size: 16px;
  font-weight: normal;
  background: #F88601;
  padding: 3px 3px 3px 5px;
  margin: 0;
  color: #fff;
  border-radius: 6px 6px 0 0; }

.tx-efblog-widget-content {
  padding: 6px; }

.tx-efblog-widget-content ul {
  margin: 6px 0;
  padding: 0 0 0 16px;
  list-style: none;
  list-style-image: url(../Images/list_sidebar.png); }

/*search widget*/
.tx-efblog-widget-content .searchfield {
  height: 24px;
  float: left;
  width: 200px; }

.tx-efblog-widget-content .submitbtn {
  display: block;
  padding-left: 6px; }

/*search view*/
.tx-efblog-search-container .result {
  margin: 6px 0; }

.tx-efblog-search-container .result .tx-efblog-widget-paginator {
  /*display: none;*/ }

.tx-efblog-search-container .search-field {
  /*height: 16px;*/
  float: left;
  width: 300px; }

.tx-efblog-search-container .submitbtn {
  display: block;
  padding-left: 6px;
  clear: both; }

/*category view*/
.tx-efblog-view-category .element {
  border: 1px solid #666;
  border-radius: 16px;
  height: 250px;
  padding: 12px;
  width: 45%; }

.tx-efblog-view-category .odd {
  float: left;
  margin: 0 16px 16px 0; }

.tx-efblog-view-category .even {
  float: left;
  margin: 0 0 16px 0; }

.tx-efblog-view-category ul {
  margin: 6px 0;
  padding: 0 0 0 16px;
  list-style: none;
  list-style-image: url(../Images/list_sidebar.png); }

.tx-efblog-view-category .tiny {
  font-size: 11px;
  font-weight: normal; }

/*category list*/
.tx-efblog-category-infos {
  display: inline-block;
  margin-top: 8px;
  width: 100%; }

.tx-efblog-category-infos .image {
  float: left;
  margin-right: 8px;
  width: 120px; }

.tx-efblog-category-infos .text {
  float: left;
  width: 250px;
  margin-right: 8px; }

.tx-efblog-category-infos .sub {
  float: right;
  width: 150px; }

.tx-efblog-category-infos .sub ul {
  list-style: none;
  list-style-image: url(../Images/list_sidebar.png); }

/*combined links*/
.tx-efblog-combined {
  border: 1px solid #666;
  border-radius: 16px;
  padding: 12px;
  background: #fff; }

.tx-efblog-combined-entry {
  display: block;
  height: 50px;
  clear: both; }

.tx-efblog-combined-image {
  float: right;
  width: 50px; }

.tx-efblog-combined-image figure {
  margin: 0;
  padding: 0; }

.tx-efblog-combined-entry h2 a {
  font-size: 14px;
  padding: 0 24px 1px 0; }

.tx-efblog-combined-entry h1 a:hover {
  color: #F88601; }

/*calendar view*/
.tx-efblog-calendar-container #calEntries {
  float: right;
  width: 420px; }

.tx-efblog-calendar-container #todayEntries {
  border-bottom: 1px dotted #96bd48; }

.tx-efblog-calendar-container #todayEntries .toggler a {
  padding-right: 2px; }

.tx-efblog-calendar-container #todayEntries .toggler span.foldSign {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../Images/fold.png) no-repeat 0 0;
  cursor: pointer; }

.tx-efblog-calendar-container #todayEntries .toggler.act span.foldSign {
  background-position: 0 -20px; }

.tx-efblog-calendar-container #todayEntries .details {
  display: none; }

/*# sourceMappingURL=Extension.css.map */
