/*Paginator*/
.tx-efblog-widget-paginator {
	height: 22px;
	padding-top: 6px;
	}

.tx-efblog-widget-paginator {
	text-align: center;
	list-style: none inside none;
	width: 100%;
	margin: 0;
	padding: 0;
	}

.tx-efblog-widget-paginator li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 6px 0 0;
	}

.tx-efblog-widget-paginator li a {
	font-weight: normal;
	text-decoration: none;
	}

/*List*/
.tx-efblog-list-entry {
	margin-bottom: 25px;
	}

.tx-efblog-list-images {
	float: right;
	margin: 6px 0 6px 6px;
	}

.tx-efblog-list-imagerow {
	width: 100px;
	}

.tx-efblog-list-imagerow a:hover {
	border: none;
	}

.tx-efblog-list-body h1 {
	font-weight: normal;
	}

.tx-efblog-list-text h1 a {
	padding: 0 24px 1px 0;
	background: url(../Images/list-more.png) no-repeat top right;
	}

.tx-efblog-list-text h1 a:hover {
	background: url(../Images/list-more-act.png) no-repeat top right;
	}

.tx-efblog-list-footer {
	clear: both;
	border-top: 1px solid #353333;
	margin: 3px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	}

.tx-efblog-list-footer .more {
	float: left;
	padding-right: 18px;
	background: url(../Images/breadcrumb_right.png) no-repeat top right;
	}

.tx-efblog-list-footer .info {
	text-align: right;
	}

/*detail*/
.tx-efblog-detail-breadCrumb {
	height: 18px;
	width: 100%;
	}

.tx-efblog-detail-breadCrumb .left {
	float: left;
	width: 34%;
	padding-left: 18px;
	background: url(../Images/breadcrumb_left.png) no-repeat top left;
	}

.tx-efblog-detail-breadCrumb .center {
	float: left;
	width: 18%;
	padding-left: 18px;
	background: url(../Images/breadcrumb_top.png) no-repeat top left;
	}

.tx-efblog-detail-breadCrumb .right {
	float: right;
	text-align: right;
	padding-right: 18px;
	width: 34%;
	background: url(../Images/breadcrumb_right.png) no-repeat top right;
	}

/* detail pager */

.tx-efblog-detail-container .detailpager {
	overflow: auto;
	border-radius: 6px;
	border: 1px solid #353333;
	padding: 8px;
	background: #fff;
	margin-top: 6px;
	}

.tx-efblog-detail-container ul.tabs {
	float: left;
	list-style: none;
	width: 100%;
	}

.tx-efblog-detail-container ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 140%;
	overflow: hidden;
	position: relative;
	}

.tx-efblog-detail-container ul.tabs li a {
	background: url(../Images/list_orange.png) no-repeat left top;
	color: #353333;
	display: block;
	padding: 0 6px 0 16px;
	outline: none;
	}

.tx-efblog-detail-container ul.tabs li a:hover {
	color: #f60;
	border: none;
	}

.tx-efblog-detail-container ul.tabs li.active a, .tx-efblog-detail-container ul.tabs li.active a:hover {
	color: #f60;
	}

.tx-efblog-detail-container .tab_container {
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	margin-bottom: 14px;
	padding-top: 6px;
	}

/*social*/
#tx-efblog-detail-social {
	border-radius: 6px;
	border: 1px solid #353333;
	padding: 8px;
	background: #fff;
	display: inline-block;
	margin-top: 14px;
	width: 554px;
	}

#tx-efblog-detail-social .googleplus {
	float: left;
	}

#tx-efblog-detail-social .twitter {
	float: left;
	margin-right: 30px;
	}

#tx-efblog-detail-social .facebook {
	float: left;
	}

#tx-efblog-detail-footer {
	clear: both;
	border-top: 1px solid #353333;
	height: 22px;
	margin: 3px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	}

#tx-efblog-detail-footer .more {
	float: left;
	padding-right: 18px;
	background: url(../Images/breadcrumb_right.png) no-repeat top right;
	}

#tx-efblog-detail-footer .info {
	text-align: right;
	}

#tx-efblog-detail-relatedPost {
	clear: both;
	margin: 8px 0;
	padding: 2px 6px 6px 6px;
	background-color: #ececec;
	}

#tx-efblog-detail-relatedPost ul {
	padding-left: 0;
	margin: 0px;
	list-style: none;
	list-style-image: url(../Images/list_sidebar.png);
	}

#tx-efblog-detail-externalLink {
	background-color: #ccc;
	}

/*comments*/
.tx-efblog-comments-rss {
	display: inline-block;
	padding-right: 18px;
	background: url(../Images/breadcrumb_right.png) no-repeat top right;
	}

.tx-efblog-comments-list {
	margin: 8px 0px 8px 0px;
	}

.tx-efblog-comments-list .item {
	margin: 0px 0px 8px 0px;
	padding: 5px;
	min-height: 60px;
	overflow: visible;
	clear: both;
	}

.tx-efblog-comments-list .item .answers {
	margin-left: 50px;
	}

.tx-efblog-comments-list .odd, .tx-efblog-comments-list .even {
	border-radius: 6px;
	border: 1px solid #353333;
	padding: 8px;
	background: #fff;
	}

.tx-efblog-comments-list .gravatar {
	float: right;
	}

.tx-efblog-comments-list .gravatar img {
	border-radius: 6px;
	}

.tx-efblog-comments-list .number {
	float: left;
	border-radius: 6px;
	background: #F88601;
	line-height: 55px;
	height: 50px;
	margin: 0 6px 6px 0;
	text-align: center;
	width: 50px;
	}

.tx-efblog-comments-list .number a {
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	}

.tx-efblog-comments-list .number a:hover {
	border: none;
	}

.tx-efblog-comments-list .author, .tx-efblog-comments-list .author a {
	font-weight: bold;
	}

.tx-efblog-comments-list .comment {
	clear: both;
	}

/*comment form*/
#tx-efblog-comment-form {
	width: 530px;
	}

#tx-efblog-comment-form .tf, #tx-efblog-comment-form .ta {
	margin-bottom: 8px;
	}

#tx-efblog-comment-form .tf label {
	width: 260px;
	float: right;
	}

#tx-efblog-comment-form .tf input {
	width: 260px;
	}

#tx-efblog-comment-form .ta textarea {
	width: 426px;
	}

#tx-efblog-comment-form .errors {
	margin: 10px 0;
	padding: 10px;
	background-color: #FBB19B;
	border: 1px #DC4C42 solid;
	}

#tx-efblog-comment-form .f3-form-error {
	background-color: #FBB19B;
	border: 1px #DC4C42 solid;
	}

/*widgets*/
.tx-efblog-widget-container {
	border: 1px solid #333;
	margin-top: 15px;
	margin-left: 12px;
	padding-bottom: 3px;
	border-radius: 6px;
	box-shadow: 3px 3px 6px #888;
	width: 200px;
	}

.tx-efblog-widget-container h1 {
	font-size: 16px;
	font-weight: normal;
	background: #F88601;
	padding: 3px 3px 3px 5px;
	margin: 0;
	color: #fff;
	border-radius: 6px 6px 0 0;
	}

.tx-efblog-widget-content {
	padding: 6px;
	}

.tx-efblog-widget-content ul {
	margin: 6px 0;
	padding: 0 0 0 16px;
	list-style: none;
	list-style-image: url(../Images/list_sidebar.png);
	}

/*search widget*/
.tx-efblog-widget-content .searchfield {
	height: 24px;
	float: left;
	width: 200px;
	}

.tx-efblog-widget-content .submitbtn {
	display: block;
	padding-left: 6px;
	}

/*search view*/
.tx-efblog-search-container .result {
	margin: 6px 0;
	}

.tx-efblog-search-container .result .tx-efblog-widget-paginator{
	display: none;
	}


.tx-efblog-search-container .search-field {
	/*height: 16px;*/
	float: left;
	width: 300px;
	}

.tx-efblog-search-container .submitbtn {
	display: block;
	padding-left: 6px;
	clear: both;
	}

/*category view*/
.tx-efblog-view-category .element {
	border: 1px solid #666;
	border-radius: 16px;
	height: 250px;
	padding: 12px;
	width: 45%;
	}

.tx-efblog-view-category .odd {
	float: left;
	margin: 0 16px 16px 0;
	}

.tx-efblog-view-category .even {
	float: left;
	margin: 0 0 16px 0;
	}

.tx-efblog-view-category ul {
	margin: 6px 0;
	padding: 0 0 0 16px;
	list-style: none;
	list-style-image: url(../Images/list_sidebar.png);
	}

.tx-efblog-view-category .tiny {
	font-size: 11px;
	font-weight: normal;
	}

/*category list*/

.tx-efblog-category-infos {
	display: inline-block;
	margin-top: 8px;
	width: 100%;
	}

.tx-efblog-category-infos .image {
	float: left;
	margin-right: 8px;
	width: 120px;
	}

.tx-efblog-category-infos .text {
	float: left;
	width: 250px;
	margin-right: 8px;
	}

.tx-efblog-category-infos .sub {
	float: right;
	width: 150px;
	}

.tx-efblog-category-infos .sub ul {
	list-style: none;
	list-style-image: url(../Images/list_sidebar.png);
	}

/*combined links*/
.tx-efblog-combined {
	border: 1px solid #666;
	border-radius: 16px;
	padding: 12px;
	background: #fff;
	}

.tx-efblog-combined-entry {
	display: block;
	height: 50px;
	clear: both;
	}

.tx-efblog-combined-image {
	float: right;
	width: 50px;
	}
.tx-efblog-combined-image figure{
	margin: 0;
	padding: 0;
	}

.tx-efblog-combined-entry h2 a {
	font-size: 14px;
	padding: 0 24px 1px 0;
	}

.tx-efblog-combined-entry h1 a:hover {
	color: #F88601;
	}

/*calendar view*/
.tx-efblog-calendar-container #datepicker {
	float: left;
	width: 240px;
	}

.tx-efblog-calendar-container #calEntries {
	float: right;
	width: 420px;
	}

.tx-efblog-calendar-container #todayEntries {
	border-bottom: 1px dotted #96bd48;
	}

.tx-efblog-calendar-container #todayEntries .toggler a {
	padding-right: 2px;
	}

.tx-efblog-calendar-container #todayEntries .toggler span.foldSign {
	display: inline-block;
	width: 15px;
	height: 14px;
	background: url(../Images/fold.png) no-repeat 0 0;
	cursor: pointer;
	}

.tx-efblog-calendar-container #todayEntries .toggler.act span.foldSign {
	background-position: 0 -20px;
	}

.tx-efblog-calendar-container #todayEntries .details {
	display: none;
	}

