/*Paginator*/
.tx-tkblog-widget-paginator{
    height: 22px;
    padding-top: 6px;
}
.tx-tkblog-widget-paginator ul{
    text-align: center;
    list-style: none inside none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.tx-tkblog-widget-paginator li{
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 6px 0 0;
}

.tx-tkblog-widget-paginator li a{
    font-weight: normal;
    text-decoration: none;
}

/*List*/
.tx-tkblog-list-entry{
    margin-bottom: 25px;
}

.tx-tkblog-list-images{
    float: right;
    margin: 6px 0 6px 6px;
}

.tx-tkblog-list-imagerow{
    width: 100px;
}

.tx-tkblog-list-body h1{
	font-weight: normal;
}

.tx-tkblog-list-text h1 a{
	padding: 0 24px 1px 0;
	background: url(images/list-more.png) no-repeat top right;
}

.tx-tkblog-list-text h1 a:hover{
	background: url(images/list-more-act.png) no-repeat top right;
}

.tx-tkblog-list-footer{
    clear: both;
    border-top:1px solid #353333;
    margin: 3px 0px 0px 0px;
    padding: 3px 0px 0px 0px;
}

.tx-tkblog-list-footer .more{
    float: left;
	padding-right: 18px;
	background: url(images/breadcrumb_right.png) no-repeat top right;
}

.tx-tkblog-list-footer .info{
    text-align: right;
}

/*detail*/
.tx-tkblog-detail-breadCrumb{
    height: 18px;
    width: 100%;
}

.tx-tkblog-detail-breadCrumb .left{
    float: left;
    width: 34%;
	padding-left: 18px;
	background: url(images/breadcrumb_left.png) no-repeat top left;
}
.tx-tkblog-detail-breadCrumb .center{
    float: left;
    width: 18%;
	padding-left: 18px;
	background: url(images/breadcrumb_top.png) no-repeat top left;
}

.tx-tkblog-detail-breadCrumb .right{
    float: right;
    text-align: right;
	padding-right: 18px;
    width: 34%;
	background: url(images/breadcrumb_right.png) no-repeat top right;
}

.tx-tkblog-detail-container ul.tabs {
    padding: 8px 0 0 0;
    float: left;
    list-style: none;
    width: 100%;
}
.tx-tkblog-detail-container ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 140%;
    overflow: hidden;
    position: relative;
}
.tx-tkblog-detail-container ul.tabs li a {
	background: url(images/list_orange.png) no-repeat left top;
	color: #353333;
    display: block;
    padding: 0 6px 0 16px;
    outline: none;
}

.tx-tkblog-detail-container ul.tabs li a:hover {
	color: #f60;
	border: none;
}

.tx-tkblog-detail-container ul.tabs li.active a, .tx-tkblog-detail-container ul.tabs li.active a:hover  {
	color: #f60;
}
.tx-tkblog-detail-container .tab_container {
    overflow: hidden;
    clear: both;
    float: left; width: 100%;
	padding-top: 6px;
}

#tx-tkblog-detail-social{
	border-radius: 6px;
	border: 1px solid #353333;
	padding: 8px;
    background: #fff;
	display: inline-block;
	width: 100%;
}

#tx-tkblog-detail-social .facebook{
	float: left;
	width: 300px;
}

#tx-tkblog-detail-social .twitter{
	float: right;
	width: 200px;
}

#tx-tkblog-detail-footer{
    clear: both;
    border-top:1px solid #353333;
	height: 22px;
    margin: 3px 0px 0px 0px;
    padding: 3px 0px 0px 0px;
}

#tx-tkblog-detail-footer .more{
    float: left;
	padding-right: 18px;
	background: url(images/breadcrumb_right.png) no-repeat top right;
}

#tx-tkblog-detail-footer .info{
    text-align: right;
}

#tx-tkblog-detail-relatedPost{
	clear: both;
	margin: 8px 0;
	padding: 2px 6px 6px 6px;
	background-color: #ececec;
}

#tx-tkblog-detail-relatedPost ul{
	padding-left: 0;
    margin: 0px;
    list-style: none;
    list-style-image: url(images/list_sidebar.png);
}

#tx-tkblog-detail-externalLink{
	background-color: #ccc;
}



/*comments*/
.tx-tkblog-comments-rss{
	display: inline-block;
	padding-right: 18px;
	background: url(images/breadcrumb_right.png) no-repeat top right;
}
.tx-tkblog-comments-list{    
    margin: 8px 0px 8px 0px;
}
.tx-tkblog-comments-list .item{    
    margin: 0px 0px 8px 0px;
    padding: 5px;
    min-height: 60px;
    overflow: visible;
    clear: both;
}

.tx-tkblog-comments-list .odd, .tx-tkblog-comments-list .even{
	border-radius: 6px;
	border: 1px solid #353333;
	padding: 8px;
    background: #fff;
}

.tx-tkblog-comments-list .gravatar{
    float: right;
}

.tx-tkblog-comments-list .gravatar img{
	border-radius: 6px;
}

.tx-tkblog-comments-list .number{
    float: left;
	border-radius: 6px;
    background: #F88601;
    line-height: 55px;
    height: 50px;
    margin: 0 6px 6px 0;
    text-align: center;
    width: 50px;
}

.tx-tkblog-comments-list .number a{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.tx-tkblog-comments-list .number a:hover{
    border: none;
}

.tx-tkblog-comments-list .author, .tx-tkblog-comments-list .author a{
    font-weight: bold;
}

.tx-tkblog-comments-list .comment{
    clear: both;
}

/*comment form*/
#tx-tkblog-comment-form{
	width: 530px;
}
#tx-tkblog-comment-form .tf, #tx-tkblog-comment-form .ta{
    margin-bottom: 8px;
}
#tx-tkblog-comment-form .tf label{
	width: 260px;
    float: right;
}

#tx-tkblog-comment-form .tf input{
    width: 260px;
}

#tx-tkblog-comment-form .ta textarea{
    width: 426px;
}

#tx-tkblog-comment-form .errors {
    margin: 10px 0;
    padding: 10px;
    background-color: #FBB19B;
    border: 1px #DC4C42 solid;
}

#tx-tkblog-comment-form .f3-form-error{
    background-color: #FBB19B;
    border: 1px #DC4C42 solid;
}

/*widgets*/
.tx-tkblog-widget-container{
    border: 1px solid #333;
    margin-top: 15px;
    margin-left: 6px;
    padding-bottom: 3px;
    border-radius: 6px;
    box-shadow: 3px 3px 6px #888;
}
.tx-tkblog-widget-container h1{
	font-size: 16px;
    font-weight: normal;
    background: #F88601;
    padding: 3px 3px 3px 5px;
    margin: 0;
    color: #fff;
    border-radius: 6px 6px 0 0;
}

.tx-tkblog-widget-content{
    padding: 6px;
}

.tx-tkblog-widget-content ul{
    padding-left: 0;
    margin: 0px;
    list-style: none;
    list-style-image: url(images/list_sidebar.png);
}


/*search widget*/
.tx-tkblog-widget-content .searchfield{
    height: 16px;
    float:left;
    width: 200px;
}

.tx-tkblog-widget-content .submitbtn{
    display: block;
    padding-left: 6px;
}

/*search view*/
.tx-tkblog-view-search{
    margin: 6px 0;
}
.tx-tkblog-view-search .searchfield{
    height: 16px;
    float:left;
    width: 300px;
}

.tx-tkblog-view-search .submitbtn{
    display: block;
    padding-left: 6px;
}

/*category view*/
.tx-tkblog-view-category .element{
    border: 1px solid #666;
    border-radius: 16px;
    height: 250px;
    padding: 12px;
    width: 45%;
}

.tx-tkblog-view-category .odd{
    float: left;
    margin: 0 16px 16px 0;
}

.tx-tkblog-view-category .even{
    float: left;
    margin: 0 0 16px 0;
}

.tx-tkblog-view-category ul{
    padding-left: 0;
    margin: 0px;
    list-style: none;
    list-style-image: url(images/list_sidebar.png);
}
.tx-tkblog-view-category .tiny{
    font-size: 11px;
    font-weight: normal;
}

/*category list*/

.tx-tkblog-category-infos{
	display: inline-block;
	margin-top: 8px;
	width: 100%;
	
}

.tx-tkblog-category-infos .image{
	float: left;
	margin-right: 8px;
	width: 120px;
}

.tx-tkblog-category-infos .text{
	float: left;
	width: 250px;
	margin-right: 8px;
}

.tx-tkblog-category-infos .sub{
	float: right;
	width: 150px;
}

.tx-tkblog-category-infos .sub ul{
	list-style: none;
    list-style-image: url(images/list_sidebar.png);
}

