<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default"/>
	<f:section name="content">
		<div class="tx-efblog-category-overview">
			<f:for each="{categories}" as="maincategory">
				<f:cycle as="row" values="{0: 'odd', 1: 'even'}">
					<div class="element {row}">
						<h2>{maincategory.title}</h2>

						<p>{maincategory.description}</p>

						<f:for each="{maincategory.image}" as="image" iteration="imageIterator">
							<f:if condition="{image}">
								<f:link.page pageUid="{settings.categoryUid}" additionalParams="{tx_efblog_fe1:{category : maincategory.uid}}">
									<f:image image="{image}" alt="{post.title}" width="80c" height="80"/>
								</f:link.page>
							</f:if>
						</f:for>

						<ul class="menu">
							<f:for each="{categories}" as="category">
								<f:if condition="{maincategory.uid} == {category.uid}">
									<f:render partial="CategoryElement" arguments="{category : category}" section="main"/>
								</f:if>
							</f:for>
						</ul>

					</div>
				</f:cycle>
			</f:for>
		</div>
	</f:section>

</div>