<f:layout name="Default" />
<f:section name="content">
    <div class="tx-tkblog-view-category">

        <f:for each="{maincategories}" as="maincategory">          
            <f:cycle as="row" values="{0: 'odd', 1: 'even'}">
                <div class="element {row}">    
                    <h2>{maincategory.title}</h2>
                    <p>{maincategory.description}</p>
					<f:for each="{maincategory.image}" as="image" iteration="imageIterator">
						<f:if condition="{image}">
							<f:if condition="{dam}">
								<f:then>
				{f:image(src: "{image.file_path}{image.file_name}", alt: "{category.title}", width: "150m", height: "150m")
				-> f:link.action(action : 'categoryList', controller : 'Post', arguments : '{category:maincategory}', pageUid : '{settings.categoryUid}')}
								</f:then>
								<f:else>
				{f:image(src: "uploads/tx_tkblog/{image}", alt: "{post.title}", width: "150m", height: "150m")
				-> f:link.action(action : 'categoryList', controller : 'Post', arguments : '{category:maincategory}', pageUid : '{settings.categoryUid}')} 
								</f:else>
							</f:if>
						</f:if>
					</f:for>
					<ul>
						<f:for each="{categories}" as="category">
							<f:if condition="{maincategory.uid} == {category.uid}">
								<f:render partial="CategoryElement" arguments="{category : category}" />
							</f:if>					
						</f:for>
					</ul>
                </div>
            </f:cycle>
        </f:for>

    </div>
</f:section>