{namespace tk=ThomasKieslich\Efblog\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="meta">
		<f:if condition="{settings.openGraph.allowOpenGraph}">
			<tk:metaTag property="og:title" content="{post.title}"/>

			<f:if condition="{settings.openGraph.type}">
				<tk:metaTag property="og:type" content="{settings.openGraph.type}"/>
			</f:if>

			<tk:metaTag property="og:url" content="{f:uri.page(additionalParams : '{tx_efblog_fe1:{post:post}}', pageUid : '{settings.detailUid}', absolute: '1', noCacheHash : '1')}"/>

			<f:if condition="{settings.blogTitle}">
				<tk:metaTag property="og:site_name" content="{settings.blogTitle}"/>
			</f:if>

			<f:if condition="{post.teaserImage -> f:count()} > 0">
				<f:then>
					<f:for each="{post.teaserImage}" as="image" iteration="imageIterator">
						<f:if condition="{imageIterator.cycle} == 1">
							<tk:metaTag property="og:image" content="{f:uri.image(src:'{image.publicUrl}', width:'300', height: '300c')}" forceAbsoluteUrl="1"/>
						</f:if>
					</f:for>
				</f:then>
				<f:else>
					<f:if condition="{settings.openGraph.defaultImage}">
						<tk:metaTag property="og:image" content="{f:uri.image(src:'{settings.openGraph.defaultImage}', width:'300', height: '300c')}" forceAbsoluteUrl="1"/>
					</f:if>
				</f:else>

			</f:if>

			<f:if condition="{description}">
				<tk:metaTag property="og:description" content="{description -> f:format.crop(maxCharacters: '{settings.openGraph.cropDescription}')}"/>
			</f:if>

			<f:if condition="{settings.openGraph.admins}">
				<tk:metaTag property="fb:admins" content="{settings.openGraph.admins}"/>
			</f:if>

			<f:if condition="{settings.openGraph.appId}">
				<tk:metaTag property="fb:app_id" content="{settings.openGraph.appId}"/>
			</f:if>

		</f:if>
	</f:section>

	<f:section name="main">
		<div class="tx-efblog-detail-social"></div>
		<tk:includeFile file="{f:uri.resource(path: 'Social/javascripts/socialshareprivacy.js')}" footer="TRUE" />
		<tk:includeFile file="{f:uri.resource(path: 'Social/javascripts/modules/facebook.js')}" footer="TRUE" />
		<tk:includeFile file="{f:uri.resource(path: 'Social/javascripts/modules/twitter.js')}" footer="TRUE" />
		<tk:includeFile file="{f:uri.resource(path: 'Social/javascripts/modules/gplus.js')}" footer="TRUE" />
		<tk:includeFile file="{f:uri.resource(path: 'Social/javascripts/locale/de/socialshareprivacy.js')}" footer="TRUE" />
		<tk:includeFile file="{f:uri.resource(path: 'Social/javascripts/locale/de/modules/facebook.js')}" footer="TRUE" />
		<tk:includeFile file="{f:uri.resource(path: 'Social/javascripts/locale/de/modules/twitter.js')}" footer="TRUE" />
		<tk:includeFile file="{f:uri.resource(path: 'Social/javascripts/locale/de/modules/gplus.js')}" footer="TRUE" />
	</f:section>

</div>
