<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="main">

		<div class="tx-efblog-detail-breadCrumb">
			<div class="left">
				<f:if condition="{breadCrumb.0}">
					<f:link.page pageUid="{settings.detailUid}" additionalParams="{tx_efblog_fe1:{post : breadCrumb.0}}" title="{breadCrumb.0.title}">
						<span>{breadCrumb.0.title -> f:format.crop(maxCharacters: '28', append: '{f:translate(key : "teaser_more")}')}</span>
					</f:link.page>
				</f:if>
			</div>
			<div class="center">
				<f:if condition="{settings.backUid}">
					<f:link.page pageUid="{settings.listUid}">
						<span>{f:translate(key : 'detail_backto_list')}</span>
					</f:link.page>
				</f:if>
			</div>
			<div class="right">
				<f:if condition="{breadCrumb.1}">
					<f:link.page pageUid="{settings.detailUid}" additionalParams="{tx_efblog_fe1:{post : breadCrumb.1}}" title="{breadCrumb.1.title}">
						<span>{breadCrumb.1.title -> f:format.crop(maxCharacters: '28', append: '{f:translate(key : "teaser_more")}')}</span>
					</f:link.page>
				</f:if>
			</div>
		</div>

	</f:section>

</div>