<f:for each="{post.content}" as="element" iteration="elementIterator">
	<f:if condition="{post.teaserOptions} == 2">
		<f:then>
			<f:if condition="{elementIterator.cycle} == {count}">
				<h1>{post.title -> f:link.action(action : 'detail', arguments : '{post:post}', pageUid : '{settings.detailUid}')}</h1>
				<f:cObject typoscriptObjectPath="plugin.tx_efblog.renderElement" data="{element}" />
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{elementIterator.cycle} == 1">
				<h1>{post.title -> f:link.action(action : 'detail', arguments : '{post:post}', pageUid : '{settings.detailUid}')}</h1>
			</f:if>
			<f:if condition="{element.ctype} != {settings.detailView.divType}">
				<f:cObject typoscriptObjectPath="plugin.tx_efblog.renderElement" data="{element}" />
			</f:if>
		</f:else>
	</f:if>
</f:for>