<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="main">
		<div class="tx-efblog-list-footer">
			<div class="more">
				<f:if condition="{post.teaserLink.link}">
					<f:then>
						<f:if condition="{post.teaserLink.target}">
							<f:then>
								<f:link.page pageUid="{post.teaserLink.link}" target="{post.teaserLink.target}">
									{post.teaserLinkTitle}
								</f:link.page>
							</f:then>
							<f:else>
								<f:link.page pageUid="{post.teaserLink.link}">
									{post.teaserLinkTitle}
								</f:link.page>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:link.page pageUid="{settings.detailUid}" additionalParams="{tx_efblog_fe1:{post : post}}">
							{f:translate(key : "read_more")}
						</f:link.page>
					</f:else>
				</f:if>

			</div>
			<div class="info">
				<f:if condition="{post.views} > 1">
					<f:then>
						{post.views} {f:translate(key : 'list_views')}
					</f:then>
					<f:else>
						{post.views} {f:translate(key : 'list_view')}
					</f:else>
				</f:if>
				|
				{post.date -> f:format.date(format:'%d. %B %Y')} |
				<f:if condition="{post.categories}">
					<f:for each="{post.categories}" as="category" iteration="catIterator">
						<f:if condition="{catIterator.isLast}">
							<f:then>
								<f:link.page pageUid="{settings.categoryUid}" additionalParams="{tx_efblog_fe1:{category : category}}" title="{category.title}">
									{category.title}
								</f:link.page>
							</f:then>
							<f:else>
								<f:link.page pageUid="{settings.categoryUid}" additionalParams="{tx_efblog_fe1:{category : category}}" title="{category.title}">
									{category.title},
								</f:link.page>
							</f:else>
						</f:if>
					</f:for>
					|
				</f:if>

				<f:if condition="{post.comments -> f:count()} > 1">
					<f:then>
						<f:link.page additionalParams="{tx_efblog_fe1:{post : post}}" pageUid='{settings.detailUid}' section='comments'>
							{post.comments -> f:count()} {f:translate(key : 'comment_comments')}
						</f:link.page>
					</f:then>
					<f:else>
						<f:link.page additionalParams="{tx_efblog_fe1:{post : post}}" pageUid='{settings.detailUid}' section='comments'>
							{post.comments -> f:count()} {f:translate(key : 'comment_comment')}
						</f:link.page>
					</f:else>
				</f:if>
			</div>
		</div>
	</f:section>

</div>