<f:for each="{post.content}" as="element" iteration="elementIterator">
	<f:if condition="{elementIterator.cycle} == {count}">
		<!-- Render Teaser-->
		<div class="tx-efblog-list-images">
			<!-- Post Image-->
			<f:for each="{post.teaserImage}" as="image" iteration="imageIterator">
				<f:if condition="{post.teaserImage}">
					<f:if condition="{image}">
						<f:if condition="{imageIterator.cycle} <= {settings.listView.images}">
							<div class="tx-efblog-list-imagerow">
								{f:image(src: "{image.publicUrl}", alt: "{post.title}", width:"{settings.listView.imageWidth}",
								height: "{settings.listView.imageHeight}")
								-> f:link.page(additionalParams : '{tx_efblog_fe1:{post : post}}', pageUid: '{settings.detailUid}')}
							</div>
						</f:if>
					</f:if>
				</f:if>
			</f:for>
		</div>

		<div class="tx-efblog-list-text">
			<h2>{post.title -> f:link.page(additionalParams : '{tx_efblog_fe1:{post : post}}', pageUid : '{settings.detailUid}')}</h1>
			<f:if condition="{post.teaserOptions} == 1">
				<f:then>
					{element.bodytext -> f:format.html() ->
					f:format.crop(maxCharacters: '{settings.listView.cropText}',
					append: '{f:translate(key : "teaser_more")}')}
				</f:then>
				<f:else>
					{element.bodytext -> f:format.html()}
				</f:else>
			</f:if>
		</div>
	</f:if>
</f:for>