<div xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="main">
		<div class="tx-efblog-list-footer">
			<div class="more">
				<f:if condition="{post.teaserLink.link}">
					<f:then>
						<f:if condition="{post.teaserLink.target}">
							<f:then>
								<f:link.page pageUid="{post.teaserLink.link}" target="{post.teaserLink.target}">
									{post.teaserLinkTitle}
								</f:link.page>
							</f:then>
							<f:else>
								<f:link.page pageUid="{post.teaserLink.link}">
									{post.teaserLinkTitle}
								</f:link.page>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:link.page pageUid="{settings.detailUid}" additionalParams="{tx_efblog_fe1:{post : post}}">
							{f:translate(key : "read_more")}
						</f:link.page>
					</f:else>
				</f:if>

			</div>
			<div class="info">
				<f:if condition="{post.views} > 1">
					<f:then>
						<span class="views">{post.views} <span class="label">{f:translate(key : 'list_views')} |</span>
					</f:then>
					<f:else>
						<span class="view">{post.views} <span class="label">{f:translate(key : 'list_view')} |</span>
					</f:else>
				</f:if>

				<span class="date">{post.date -> f:format.date(format:'{settings.listView.dateFormat}')}</span>

				<f:if condition="{post.categories}">
					<span class="category">|
					<f:for each="{post.categories}" as="category" iteration="catIterator">
						<f:if condition="{catIterator.isLast}">
							<f:then>
								<f:link.page pageUid="{settings.categoryUid}" additionalParams="{tx_efblog_fe1:{category : category}}" title="{category.title}">
									{category.title}
								</f:link.page>
							</f:then>
							<f:else>
								<f:link.page pageUid="{settings.categoryUid}" additionalParams="{tx_efblog_fe1:{category : category}}" title="{category.title}">
									{category.title},
								</f:link.page>
							</f:else>
						</f:if>
					</f:for>
					</span>
				</f:if>

				<f:if condition="{post.comments -> f:count()} > 1">
					<span class="comments">
					<f:then>|
						<f:link.page additionalParams="{tx_efblog_fe1:{post : post}}" pageUid='{settings.detailUid}' section='comments' class="comments">
							{post.comments -> f:count()} <span class="label">{f:translate(key : 'comment_comments')}</span>
						</f:link.page>
					</f:then>
					<f:else>|
						<f:link.page additionalParams="{tx_efblog_fe1:{post : post}}" pageUid='{settings.detailUid}' section='comments' class="comment">
							{post.comments -> f:count()} <span class="label">{f:translate(key : 'comment_comment')}</span>
						</f:link.page>
					</f:else>
				</f:if>
				</span>
			</div>
		</div>
	</f:section>

</div>