{namespace tk=ThomasKieslich\Efblog\ViewHelpers}

<div class="tx-efblog-list-footer">
	<div class="more">
		<f:if condition="{post.teaserLink.link}">
			<f:then>
				{f:if(condition: '{post.teaserLink.target}', then:
				"{post.teaserLinkTitle -> f:link.page(pageUid : '{post.teaserLink.link}', target: '{post.teaserLink.target}')}",
				else: "{post.teaserLinkTitle -> f:link.page(pageUid : '{post.teaserLink.link}')}")}
			</f:then>
			<f:else>
				{f:translate(key : "read_more") -> f:link.action(arguments : '{post:post}', pageUid : '{settings.detailUid}')}
			</f:else>
		</f:if>

	</div>
	<div class="info">
		{post.views} {f:translate(key : 'detail_views')} |
		{post.date -> f:format.date(format:'%d. %B %Y')} |
		<f:for each="{post.categories}" as="category" iteration="catIterator">
			<f:if condition="{catIterator.isLast}">
				<f:then>
					<f:link.action action="categoryList" pageUid="{settings.categoryUid}" additionalParams="{tx_efblog_fe1:{category : category}}" title="{category.title}">
						{category.title}
					</f:link.action>
				</f:then>
				<f:else>
					<f:link.action action="categoryList" pageUid="{settings.categoryUid}" additionalParams="{tx_efblog_fe1:{category : category}}" title="{category.title}">
						{category.title},
					</f:link.action>
				</f:else>
			</f:if>
		</f:for>

		|
		<f:if condition="{post.comments -> f:count()} > 1">
			<f:then>
				<f:link.action action='detail' arguments='{post:post}' pageUid='{settings.detailUid}' section='comments'>
					{post.comments -> f:count()} {f:translate(key : 'comments_comments')}
				</f:link.action>
			</f:then>
			<f:else>
				<f:link.action action='detail' arguments='{post:post}' pageUid='{settings.detailUid}' section='comments'>
					{post.comments -> f:count()} {f:translate(key : 'comments_comment')}
				</f:link.action>
			</f:else>
		</f:if>
	</div>
</div>